extends ../../base


//- include standartButtons.styl
div.standartButtons
  include standartButtons/standartButtons__button_small-blue/standartButtons__button_small-blue.pug
  include standartButtons/standartButtons__button_big-blue/standartButtons__button_big-blue.pug
  include standartButtons/standartButtons__button_big-red/standartButtons__button_big-red.pug
  include standartButtons/standartButtons__button_small-red/standartButtons__button_small-red.pug
