// .buttonsPack 
//   border solid 2px blue
//   padding 10px 0
//   text-align center

.standartButtons
  font-family Lato
  text-transform uppercase
  font-weight 400
  color #ffffff
  border none 
  border-radius 5px
  