
.standartButtons
  border solid 2px red
  padding 20px
  text-align center

.stButton
  font-family Lato
  text-transform uppercase
  font-weight 400
  color #ffffff
  border none 
  border-radius 5px
  &_size_small 
    width 78px
    height 22px
    font-size 10px
    letter-spacing 0.5px
  &_size_big
    width 118px
    height 32px 
    font-size 12px
    letter-spacing 0.6px

  &_color_blue
    background-color #4eb7a8 
    &:hover
      background-color #4eb7a8
      box-shadow 0 3px 0 0 #28a290 
    &:active
      background-color #fff
      color #4eb7a8
      border solid 1px #28a290
      box-shadow 0 3px 0 0 #28a290
  &_color_red 
    background-color #e75735
    &:hover
      background-color #e75735
      box-shadow 0 3px 0 0 #bf3e1f 
    &:active
      background-color #ffffff
      color #e75735
      border solid 1px #bf3e1f
      box-shadow 0 3px 0 0 #bf3e1f



