.stButton
  font-family Lato, sans-serif
  text-transform uppercase
  font-weight bold
  color #ffffff
  border none 
  border-radius 0.3125rem
  outline none
  cursor pointer

  &_size_small 
    width 4.875rem
    height 1.375rem
    font-size 0.625rem
    letter-spacing 0.0313rem

  &_size_big
    width 7.375rem
    height 2rem 
    font-size 0.75rem
    letter-spacing 0.0375rem

  &_color_blue
    background-color #4eb7a8 

    &:hover
      background-color #4eb7a8
      box-shadow 0 0.1875rem 0 0 #28a290 

    &:active
      background-color #fff
      color #4eb7a8
      border solid 0.0625rem #28a290
      box-shadow 0 0.1875rem 0 0 #28a290
      
  &_color_red 
    background-color #e75735

    &:hover
      background-color #e75735
      box-shadow 0 0.1875rem 0 0 #bf3e1f 

    &:active
      background-color #ffffff
      color #e75735
      border solid 0.0625rem #bf3e1f
      box-shadow 0 0.1875rem 0 0 #bf3e1f



