include ./../../../modules/standartButtons/standartButtonsMixin

mixin header()
  .header 
    .image 
      .logo logotip
      .menu
        .buttonBlock
          a(href='/UIkit/firstPage.html') 
            +stButton({size: 'big', color: 'blue', value: 'Главная', type: 'button'})
          a(href='/UIkit/pages/catalog.html')
            +stButton({size: 'big', color: 'blue', value: 'Каталог', type: 'button'})
          a(href='/UIkit/pages/contacts.html')
            +stButton({size: 'big', color: 'blue', value: 'Контакты', type: 'button'})

