include ./../../../modules/standartButtons/standartButtonsMixin

mixin header()
  .header 
    .image 
      .logo logotip
      .menu
        .buttonBlock
          a(href='/UIkit/firstPage.html') 
            +stButton('big', 'blue','Главная', 'button')
          a(href='/UIkit/pages/catalog.html')
            +stButton('big', 'blue','Каталог', 'button')
          a(href='/UIkit/pages/contacts.html')
            +stButton('big', 'blue','Контакты', 'button')

