  

//- mixin standartSlider 
//-     .standartSlider 
//-       .standartSlider_custom-handle.ui-slider-handle

 





//- mixin stepSlider
//-   .stepSlider
//-     .stepSlider_Slider
//-       .custom-handle.ui-slider-handle
    .stepSlider_values 0 25 50 75 100
      //- .custom-handle.ui-slider-handle





