  

mixin standartSlider 
  .standartSlider
    .standartSlider_custom-handle.ui-slider-handle







mixin stepSlider
  .step-slider
    .step_Slider.ui-slider.ui-slider-handle.ui-slider-range
    .scale
      .scale_value 0
      .scale_value 25
      .scale_value 50
      .scale_value 75
      .scale_value 100



