  
mixin standartSlider(data)
  .standartSlider(data-minimum = data.minimum, data-default = data.value, data-maximum = data.maximum)
    .standartSlider_custom-handle.ui-slider-handle

mixin stepSlider(data)
  .step-slider(data-minimum = data.minimum, data-default = data.value, data-maximum = data.maximum, data-step = data.step)
    .step_Slider.ui-slider.ui-slider-handle.ui-slider-range
    .scale
      .scale_value 0
      .scale_value 25
      .scale_value 50
      .scale_value 75
      .scale_value 100



