mixin footer()
  .footer 
    .footer__image 
      .footer__image-logo logotip
    .footer__menu
      ul.footer__list
        li.footer__list-item
          a.footer__list-item-link(href='./first-page.html') главная
        li.footer__list-item
          a.footer__list-item-link(href='./catalog.html') каталог
        li.footer__list-item
          a.footer__list-item-link(href='./contacts.html') контакты
        li.footer__list-item
          a.footer__list-item-link(href='./../demo.html') demo