mixin footer()
    .footer 
        .footer__image 
            .footer__image-logo logotip
        .footer__menu
            ul.footer__menu-list
                li.footer__menu-list-item
                    a.footer__menu-list-item-link(href = './first-page.html') главная
                li.footer__menu-list-item
                    a.footer__menu-list-item-link(href = './catalog.html') каталог
                li.footer__menu-list-item
                    a.footer__menu-list-item-link(href = './contacts.html') контакты