mixin footer()
  .footer 
    .footer__image 
      .footer__image-logo logotip
    .footer__menu
      ul.footer__list
        li.footer__list-item
          a.footer__list-item-link(href='/UIkit/first-page.html') главная
        li.footer__list-item
          a.footer__list-item-link(href='/UIkit/pages/catalog.html') каталог
        li.footer__list-item
          a.footer__list-item-link(href='/UIkit/pages/contacts.html') контакты
        li.footer__list-item
          a.footer__list-item-link(href='/UIkit/pages/demo.html') demo