include ./../../../modules/buttons/standard-button/standard-button

mixin header()
  .header 
    .header__image 
      .header__image-logo logotip
      .header__menu
        .header__button-block
          a(href='/UIkit/first-page.html') 
            +standard-button({size: 'big', color: 'blue', value: 'Главная', type: 'button'})
          a(href='/UIkit/pages/catalog.html')
            +standard-button({size: 'big', color: 'blue', value: 'Каталог', type: 'button'})
          a(href='/UIkit/pages/contacts.html')
            +standard-button({size: 'big', color: 'blue', value: 'Контакты', type: 'button'})

