include ../arrow-button/arrow-button

mixin arrow-buttons-container
    //- доступные направления left/right
    //- доступные цвета white/green/gray
    .arrow-buttons-container
        +title('arrow buttons')
        .arrow-buttons-container__buttons
            each item in[{direction: 'left', color: 'white'}, {direction: 'right', color: 'white'}, {direction: 'left', color: 'gray', disableButton: true}, {direction: 'right', color: 'gray', disableButton: true}, {direction: 'left', color: 'green'}, {direction: 'right', color: 'green'}]
                +arrow-button(item)