include ./formElements/formTextMixin.pug
include ./formElements/formEmailMixin.pug
include ./formElements/formTextareaMixin.pug

mixin form
  form.form#MyForm
    +inputText

    +inputEmail

    +inputTextArea

    +stButton('small', 'blue','Отправить', 'submit')
