mixin form
  form.form
    input(type='text' placeholder='Your Name' 
    class='form_name form_equal-style' required)
    .input_info

    input(type='email' placeholder='Your Email' 
    class='form_email form_equal-style' required)
    .input_info

    textarea(class='form_textarea form_equal-style' 
    placeholder='Your Message')

    +stButton('small', 'blue','Отправить', 'submit')
