include ./formElements/inputFormMixin.pug
include ./formElements/formTextareaMixin.pug

mixin form
  form.form#MyForm
    +input({type: 'name', placeholder: 'Your name', name: 'formName'})
    +input({type: 'email', placeholder: 'Your email', name: 'formEmail'})

    +inputTextArea({placeholder: 'Your message', name: 'formMessage'})

    +stButton({size: 'small', color: 'blue', value: 'Отправить', type: 'submit'})