.order-page-content
  max-width 50rem
  min-height 40.625rem
  display flex
  justify-content center
  margin auto
  padding-bottom 3.125rem
  flex-wrap wrap

  .order-settings_column_left
    width 31.25rem
    height 100%
    display flex
    flex-direction column
    align-items center

    .order-settings__current-car
      display block
      width 100%
      text-align center
      padding 0.625rem
      line-height: 1.5625rem

    .order-settings__setting-options
      display flex
      flex-direction column

      .setting-options
        &__transmission, &__territory-of-use, &__place-of-renting, &__lease-time
          .setting-options__label
            text-align left
            line-height 1.25rem
          .select-button
            margin 0
            margin-bottom 0.925rem
        &__lease-time
          .standard-slider
            margin-top 4.375rem
        &__additions
          padding-top 0.625rem
          width 100%
          display flex
          flex-direction column
          justify-content flex-start
          align-items left

          .additions__options
            margin-top 0.3125rem
            margin-bottom 0.375rem
            display flex
            flex-direction column
            &:after
              display block
              content ""

      .user-contact-data
        padding-top 0.625rem
        padding-bottom 0.625rem
        display flex
        flex-direction column

  .order-settings_column_right
    margin-top 5.375rem
    width 18.75rem
    height 100%
    display flex
    flex-direction column
    align-items center
    justify-content space-between

    .order-settings__button-send-request
      margin-top 3.0625rem
      width 12.5rem 
      height 3.125rem 
    .order-settings__button-send-request > .standard-button
      font-size 0.875rem
