include ./../../page-modules/header/header
include ./../../page-modules/footer/footer
include ./../../../modules/buttons/standard-button/standard-button
include ./../../../modules/calendar/calendar
include ./../../../modules/standard-slider/standard-slider
include ./../../../modules/drop-down/drop-down
include ./../../../modules/form-elements/tick-box/tick-box
include ./../../../modules/form-elements/form-feedback/form-feedback

doctype html
html(lang = "ru")
    head
        meta(charset = "utf-8")
        title Заказ(UIkit)
    body
        .layout
            +header
            .main
                .order-page-content
                    .order-settings.order-settings_column_left
                        .order-settings__current-car
                        .order-settings__options
                            .order-settings__options-transmission
                                label.order-settings__options-label Коробка передач:
                                +drop-down({name: 'transmission', values: ["Ручная", "Автоматическая"]})
                            .order-settings__options-territory-of-use
                                label.order-settings__options-label Территория использования:
                                +drop-down({name: 'territory-of-use', values: ["г.Томск", "Томская обл."]})
                            .order-settings__options-place-of-renting
                                label.order-settings__options-label Место офромления аренды:
                                +drop-down({name: 'place-of-renting', values: ["В офисе", "Ваш адрес (уточняется по телефону)"]})
                            .order-settings__options-lease-time
                                label.order-settings__options-label Время аренды (количество полных часов):
                                +standard-slider({minimum: '1', value: '3', maximum: '12'})

                            .order-settings__options-additions
                                label Добавить в машину:
                                .order-settings__options-additions-item
                                    +tick-box({name: 'children-armchair', value: 'Детское кресло'})
                                    +tick-box({name: 'navigate', value: 'Навигатор'})
                                    +tick-box({name: 'auto-refrigerator', value: 'Авто-холодильник'})

                            form.order-settings__options-contact-form
                                label.order-settings__options-contact-form-title Ваши контактные данные:
                                +input-form({type: 'name', placeholder: 'Ваша фамилия', name: 'form-surname'})
                                +input-form({type: 'name', placeholder: 'Ваше имя', name: 'form-name'})
                                +input-form({type: 'name', placeholder: 'Ваше отчество', name: 'form-patronymic'})
                                +input-form({type: 'name', placeholder: 'Контактный телефон', name: 'form-number'})
                                +input-form({type: 'email', placeholder: 'E-mail адрес', name: 'form-email'})

                    .order-settings.order-settings_column_right
                        .order-settings__date-seleciton
                            +calendar
                        .order-settings__button-send-request
                            +standard-button({size: 'custom', color: 'red', value: 'Отправить заявку', type: 'submit'})
            +footer