include ./../../page-modules/header/header
include ./../../page-modules/footer/footer
include ./../../../modules/standard-button/standard-button
include ./../../../modules/calendar/calendar
include ./../../../modules/standard-slider/standard-slider
include ./../../../modules/drop-down/drop-down
include ./../../../modules/tick-box/tick-box
include ./../../../modules/input/input

doctype html
html(lang = "ru")
    head
        meta(charset = "utf-8")
        title Заказ(UIkit)
        meta(NAME="keywords" CONTENT="аренда машин, томск, допустим")
        meta(NAME="description" CONTENT="Оформление заявки на аренду машины")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(http-equiv = "Cache-Control" content = "no-cache")

        link(rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png")
        link(rel="manifest" href="/favicons/site.webmanifest")
        link(rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .layout
            +header
            .main
                .order-page-content
                    .order-settings.order-settings_column_left
                        .order-settings__current-car
                        .order-settings__options
                            .order-settings__options-transmission
                                label.order-settings__options-label Коробка передач:
                                +drop-down({
                                    name: 'transmission', 
                                    values: ["Не выбрано", "Ручная", "Автоматическая"]
                                })
                            .order-settings__options-territory-of-use
                                label.order-settings__options-label Территория использования:
                                +drop-down({
                                    name: 'territory-of-use',
                                    values: ["Не выбрано", "г.Томск", "Томская обл."]
                                })
                            .order-settings__options-place-of-renting
                                label.order-settings__options-label Место офромления аренды:
                                +drop-down({
                                    name: 'place-of-renting', 
                                    values: ["Не выбрано", "В офисе", "Ваш адрес (уточняется по телефону)"]
                                })
                            .order-settings__options-lease-time
                                label.order-settings__options-label Время аренды (количество полных часов):
                                +standard-slider({
                                    minimum: '1',
                                    value: '3',
                                    maximum: '12'
                                })

                            .order-settings__options-additions
                                label.order-settings__options-label Добавить в машину:
                                .order-settings__options-additions-item
                                    +tick-box({
                                        name: 'children-armchair',
                                        value: 'Детское кресло'
                                    })
                                    +tick-box({
                                        name: 'navigate', 
                                        value: 'Навигатор'
                                    })
                                    +tick-box({
                                        name: 'auto-refrigerator',
                                        value: 'Авто-холодильник'
                                    })

                            form.order-settings__options-contact-form
                                label.order-settings__options-contact-form-title Ваши контактные данные:
                                +input({
                                    type: 'name',
                                    placeholder: 'Ваша фамилия', 
                                    name: 'form-surname'
                                })
                                +input({
                                    type: 'name',
                                    placeholder: 'Ваше имя', 
                                    name: 'form-name'
                                })
                                +input({
                                    type: 'name',
                                    placeholder: 'Ваше отчество',
                                    name: 'form-patronymic'
                                })
                                +input({
                                    type: 'name',
                                    placeholder: 'Контактный телефон', 
                                    name: 'form-number'
                                })
                                +input({
                                    type: 'email',
                                    placeholder: 'E-mail адрес',
                                    name: 'form-email'
                                })

                    .order-settings.order-settings_column_right
                        .order-settings__date-seleciton
                            +calendar
                        .order-settings__button-send-request
                            +standard-button({
                                size: 'custom',
                                color: 'red', 
                                value: 'Отправить заявку', 
                                type: 'submit'
                            })
            +footer