.form-elements-container
  display flex
  justify-content  space-around
  align-items center
  flex-wrap wrap
  width 80%
  min-width 30.75rem
  &__form-elements
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap
    width 90%
    margin-top 1.3125rem

  &__form
    min-width 18.1875rem
    margin-top 1.125rem

  &__toggles-and-tick-box
    min-width 9.5625rem
    display flex
    flex-direction column
    justify-content space-between

  &__toggles
    height 2.8125rem
    margin-top 1.25rem
    display flex
    justify-content space-around
    width 100%

  &__tick-box
    height 3.125rem
    display flex
    justify-content space-around
    width 55%
    margin 0 auto
    margin-top 1.25rem

