.location-container 
  width 100%
  max-width 37.5rem
  &__location
    margin auto
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap
    margin-top 2.1875rem