.percentages
  position relative
  margin 1.5625rem auto 0 auto
  width 6.25rem
  height 5rem

  &_Value
    color mainGray157
    font-family Lato, sans-serif
    font-size 2.5rem
    font-weight 300
    line-height 2.625rem
    letter-spacing -0.125rem

  &_image
    position relative
    top -4.375rem
    width 6.25rem
    height 6.25rem

    &_svg 
      width 6.25rem
      height 6.25rem

      &_circle 
        fill transparent
        stroke mainRedLight
        stroke-width 5