
.percentages
  position relative
  margin 25px auto 0 auto
  width 100px
  height 80px
  &_Value
    color #9d9d9d
    font-family Lato, sans-serif
    font-size 40px
    font-weight 300
    line-height 42px
    letter-spacing -2px
  &_image
    position relative
    top -70px
    width 100px
    height 100px
    &_svg 
      width 100px
      height 100px
      &_circle 
        fill transparent
        stroke #e75735
        stroke-width 5



