
.pieChart
  position relative
  margin 25px auto 0 auto
  width 100px
  height 80px
  &_value
    color #9d9d9d
    font-family Lato
    font-size 40px
    font-weight 300
    line-height 42px
    letter-spacing -2px
    opacity 1
  &_image
    position relative
    top -70px
    width 100px
    height 100px
    &_svg 
      width 100px
      height 100px
      &_circle1
        fill transparent
        stroke #4eb7a8
        stroke-width 16
      &_circle2
        fill transparent
        stroke #e75735
        stroke-width 16
      &_circle3
        fill transparent
        stroke #747474
        stroke-width 16

      &_circle4
        fill transparent
        stroke #e5e5e5
        stroke-width 16


