mixin news(header,date,text)
  .news
    img.news_image(src=('/style/images/bike.jpeg'))
    .news_content
      .news_content_header=header
      .news_content_date=date
      .news_content_text=text


