include ./../pageModules/header/headerMixin
include ./../pageModules/footer/footerMixin
include ./../../modules/formElements/form/formMixin.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Контакты(UIkit)
  body
    .layout
      +header
      .main
        p По любому вопросу вы можете обратиться через форму ниже
        .contact

        .contact_feedback
          +form
      +footer