
.contact
  text-align center
  display flex
  justify-content center
  flex-direction column
  
  &_feedback
    margin-left auto
    margin-right auto
    width 18rem

  &_address
    margin-left auto
    margin-right auto
    width 37.0625rem
  