.contact-page-content
  text-align center
  display flex
  justify-content center
  flex-direction column
  
  &__feedback
    margin-left auto
    margin-right auto
    width 18rem

  &__address
    margin-left auto
    margin-right auto
    width 37.0625rem
  