.form-feedback
  width 18rem
  height 13.4375rem
  text-align left
  position relative

  &__button
    width 7.375rem
    height 2.125rem
    text-transform uppercase
    font-weight bold
    position absolute
    right 0
    top 11.1875rem 
  &__button > .standard-button
    font-size 0.75rem
    line-height 1.875rem
    letter-spacing 0.0375rem