.form
  width 288px
  height 215px
  text-align left

  .input_info
    width 0
    height: 0
    &:before
      content ""
      width 6px
      height 6px
      transform rotate(45deg)
      background-color #e75735
      position relative
      left 214px
      bottom 36px
      display inline-block
      border-radius 1px

    &:after
      content "error"
      width 72px
      height 28px
      display inline-block
      position relative
      bottom 56.5px
      left 216px
      border-radius 2px
      color #ffffff
      font-family Lato
      font-size 10px
      font-weight 400
      line-height 28px
      text-transform uppercase
      letter-spacing 0.5px
      text-align center
      background-color #e75735
  &_name:valid + .input_info:after
      content "thanks"
      background-color #4eb7a8
  &_email:valid + .input_info:after
      content "thanks"
      background-color #4eb7a8

  &_name:valid + .input_info:before
    // content "thanks"
    background-color #4eb7a8
  &_email:valid + .input_info:before
    // content "thanks"
    background-color #4eb7a8

  &_equal-style
    color #888888
    font-size 14px
    font-weight 400
    line-height 42px
    letter-spacing 0.14px
    font-family "Source Sans Pro", sans-serif
    border none
    border-radius 2px
    background-color #e5e5e5
    width 198px
    height 28px
    padding 0
    margin-bottom 10px
    padding-left 10px
  &_textarea
    width 278px
    height 88px
    resize none
  &_submit
    width 118px
    height 32px
    background-color #4eb7a8
    color #fff
    font-family Lato
    font-size 12px
    line-height 32px
    text-transform uppercase
    letter-spacing 0.6px
    padding 0
    margin-left 59%
    box-shadow 0 3px 0 #28a290 
