include ../title/title
include ../standard-buttons-container/standard-buttons-container
include ../arrow-buttons-container/arrow-buttons-container
include ../percentages-pie-chart-container/percentages-pie-chart-container
include ../sliders-container/sliders-container
include ../stages-container/stages-container
include ../form-elements-container/form-elements-container
include ../search-drop-down-container/search-drop-down-container
include ../user-profiles-container/user-profiles-container
include ../news-events-container/news-events-container
include ../location-container/location-container
include ../calendar-container/calendar-container
include ../messaging-container/messaging-container
include ../video-player-container/video-player-container

mixin ui-elements()
    .ui-elements
        .ui-elements__item.ui-elements__item_standard-buttons
            +standard-buttons-container

        .ui-elements__item.ui-elements__item_arrow-buttons
            +arrow-buttons-container

        .ui-elements__item.ui-elements__item_percentages-pie-chart
            +percentages-pie-chart-container

        .ui-elements__item.ui-elements__item_sliders
            +sliders-container

        .ui-elements__item.ui-elements__item_stages
            +stages-container

        .ui-elements__item.ui-elements__item_form-elements
            +form-elements-container
                
        .ui-elements__item.ui-elements__item_search-drop-down-user-profile
            +search-drop-down-container
            +user-profiles-container
                
        .ui-elements__item.ui-elements__item_news-events
            +news-events-container
                
        .ui-elements__item.ui-elements__item_location
            +location-container

        .ui-elements__item.ui-elements__item_calendar-messaging
            +calendar-container
            +messaging-container

        .ui-elements__item.ui-elements__item_video-player
            +video-player-container
