.ui-elements
  max-width 60rem
  flex-direction column

  &__item
    display flex
    flex-direction column
    align-items center
    width 100%
    text-align center

    &_standard-buttons
      margin-top 1.5625rem

    &_arrow-buttons
      margin-top 2.6875rem

    &_percentages-pie-chart
      margin-top 1.875rem

    &_sliders
      margin-top 1rem

    &_stages
      margin-top 0.8125rem
      
    &_form-elements
      margin-top 3.1875rem

    &_search-drop-down-user-profile
      margin  auto
      margin-top 3.125rem
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content space-around
      width 75%
      position relative
      left 2rem

    &_news-events
      margin-top 4.25rem

    &_location
      margin-top 1.5625rem

    &_calendar-messaging
      width 65%
      display flex
      flex-direction row
      align-items center
      justify-content space-around
      margin auto
      margin-top 2.25rem

    &_video-player
      margin-top 2.625rem
