.ui-elements
  &__item
    display flex
    flex-direction column
    align-items center
    width 100%
    text-align center

  &__title
    height 1.125rem
    color mainGray79
    font-family Lato, sans-serif
    font-size 1.125rem
    font-weight bold
    text-transform uppercase
    letter-spacing 0.075rem
    word-spacing 0.25rem
    text-align center

  &__element
    margin 0 auto
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap

  &__standart-buttons
    &_row
      &_first, &_second, &_third
        display flex
        justify-content space-around
        align-items center
        width 52%
        padding-top 1.3125rem
        align-items flex-end
        flex-wrap wrap

      &_first
        padding-top 3.75rem

      &_third
        padding-bottom 2.5rem

  &__arrow-buttons
    width 47%
    padding-top 1.5625rem
    padding-bottom 1.875rem

  &__percentages-pie-chart
    width 65%
    padding 2.4375rem
    padding-bottom 0.625rem

  &__sliders
    width 70%
    margin-top 2.1875rem
    padding-bottom 0.8125rem

  &__stages
    padding-top 1.0625rem
    padding-bottom 2.5rem

  &__form-elements
    display flex
    justify-content center
    width 80%
    padding-top 1.25rem

  &__form
    padding-top 1.125rem
    position relative
    right 5.9375rem

  &__toggles-and-tick-box
    position relative
    left 0.9375rem
    bottom 0.75rem

  &__toggles
    position relative
    bottom 1.625rem
    padding-top 3rem
    right 0.625rem
    display flex
    justify-content space-around
    width 110%
    margin 0 auto

  &__tick-box
    padding-top 1.4375rem
    display flex
    justify-content space-around
    width 70%
    margin 0 auto

  &__search-drop-down-user-profile
    display flex
    align-items flex-start
    justify-content space-around
    width 80%
    position relative
    top 2.9375rem

  &__search-drop-down
    padding-top 0.6875rem
    min-width 20rem
    position relative
    bottom 0.625rem
    left 2.5rem

  &__search
    display flex
    flex-direction column
    height 5.5rem
    margin-top 0.9375rem
    margin-bottom 0.625rem

  &__user-profiles
    min-width 20rem
    position relative
    right 1.875rem
    padding-bottom 6.875rem

  &__user-profile
    display flex
    flex-direction column
    justify-content flex-end
    margin 2rem 1rem 0.8125rem 1.5625rem

  &__news-events
    display flex
    justify-content center
    padding-top 0.875rem
    padding-bottom 1.5625rem

  &__news
    padding 0.4375rem

  &__events
    padding 0.4375rem

  &__location
    padding-top 1.25rem
    padding-bottom 2.1875rem

  &__calendar-messaging
    width 65%
    display flex
    align-items flex-start
    justify-content space-around
    padding-bottom 2.25rem

  &__calendar-element, &__messaging-element
    padding-top 0.875rem
  
  &__video-player
    padding-top 0.75rem
    padding-bottom 1.875rem
