include ../title/title
include ../standard-buttons/standard-buttons
include ../arrow-buttons/arrow-buttons
include ../percentages-pie-chart/percentages-pie-chart
include ../sliders/sliders
include ../stages-container/stages-container
include ../form-elements/form-elements
include ../search-drop-down/search-drop-down
include ../user-profiles/user-profiles
include ../news-events/news-events
include ../location-container/location-container
include ../calendar-container/calendar-container
include ../messaging-container/messaging-container
include ../video-player-container/video-player-container

mixin ui-elements()
    .ui-elements
        .ui-elements__item
            +standard-buttons

        .ui-elements__item
            +arrow-buttons

        .ui-elements__item
            +percentages-pie-chart

        .ui-elements__item
            +sliders

        .ui-elements__item
            +stages-container

        .ui-elements__item
            +form-elements
                
        .ui-elements__item
            .ui-elements__element.ui-elements__search-drop-down-user-profile
                +search-drop-down
                +user-profiles
                
        .ui-elements__item
            +news-events
                
        .ui-elements__item
            +location-container

        .ui-elements__item
            .ui-elements__element.ui-elements__calendar-messaging
                +calendar-container
                +messaging-container

        .ui-elements__item
            +video-player-container
