.checkbox {
  vertical-align top
  margin 0 3px 0 0
  width 60px
  height 17px
}

.checkbox + span {
  cursor pointer
}

.checkbox:not(checked) {
  position absolute
  opacity 0
}
.checkbox:not(checked) + span {
  position relative
  padding 0 0 0 60px
  color #ffffff
  font-family Lato
  font-size 12px
  font-weight 400
  text-transform uppercase
  letter-spacing 0.6px
}
.checkbox:not(checked) + span:before {
  content 'off'
  text-align center
  text-indent 20px
  line-height 23px
  position: absolute
  top -4px
  left 0
  width 59px
  height 24px
  border-radius 12px
  background #e5e5e5
  
}
.checkbox:not(checked) + span:after {
  content ''
  position absolute
  top -2px
  left 2px
  width 20px
  height 20px
  border-radius 10px
  background #FFF
  transition all .2s
}
.checkbox:checked + span:before {
  background #4eb7a8
  content 'on'
  text-align left
  text-indent 11px
  line-height 23px
}
.checkbox:checked + span:after {
  left 37px
}








