mixin input({type, placeholder, name})
    .input
        input(type = `${type}` placeholder = placeholder class = `input__element input__element_type_${type} input__element_decor` required name = name)
        .input__info