.standard-button
  font-family Lato, sans-serif
  text-transform uppercase
  font-weight bold
  color mainWhite
  position relative
  border-radius 0.1875rem
  border none 
  outline none
  cursor pointer
  overflow hidden
  text-align center
  &_size
    &_small 
      width 4.875rem
      height 1.375rem
      font-size 0.625rem
      letter-spacing 0.0313rem
    &_big
      width 7.375rem
      height 2rem 
      font-size 0.75rem
      letter-spacing 0.0375rem
    &_custom
      width 100%
      height 100%
      font-size 0.625rem
      letter-spacing 0.05rem

  &_color_blue
    background-color mainBlueLight 
    box-shadow 0 0.1875rem 0 0 mainBlueDark 
    &:hover
      transform translateY(3px)
      box-shadow none
    &:active
      background-color mainWhite
      color mainBlueLight
      border solid 0.0625rem mainBlueDark
      box-shadow 0 0.1875rem 0 0 mainBlueDark
    &-reverse
      border solid 0.0625rem mainBlueLight
      background-color mainWhite
      box-shadow 0 0.1875rem 0 0 mainBlueDark 
      color mainBlueLight
      &:hover
        transform translateY(3px)
        box-shadow none
      &:active
        color mainWhite
        background-color mainBlueLight
        box-shadow 0 0.1875rem 0 0 mainBlueDark
      
  &_color_red
    background-color mainRedLight
    box-shadow 0 0.1875rem 0 0 mainRedDark 
    &:hover
      transform translateY(3px)
      box-shadow none
    &:active
      background-color mainWhite
      color mainRedLight
      border solid 0.0625rem mainRedDark
      box-shadow 0 0.1875rem 0 0 mainRedDark
    &-reverse
      border solid 0.0625rem mainRedDark
      background-color mainWhite
      box-shadow 0 0.1875rem 0 0 mainRedDark 
      color mainRedLight
      &:hover
        transform translateY(3px)
        box-shadow none
      &:active
        color mainWhite
        background-color mainRedLight
        box-shadow 0 0.1875rem 0 0 mainRedDark

  &__ripple-effect
    position absolute
    width 0.0625rem
    height 0.0625rem
    border-radius 50%
    background mainWhite
    animation ripple-animation 1s
    z-index 1
    pointer-events none
    &_reverse_blue
      position absolute
      width 0.0625rem
      height 0.0625rem
      border-radius 50%
      background mainBlueLight
      animation ripple-animation 1s
      z-index 1
      pointer-events none
    &_reverse_red
      position absolute
      width 0.0625rem
      height 0.0625rem
      border-radius 50%
      background mainRedLight
      animation ripple-animation 1s
      z-index 1
      pointer-events none

@keyframes ripple-animation
  from
    transform scale(1)
    opacity 1

  to
    transform scale(200)
    opacity 0