.standard-button-element
  &__ripple-effect
    position absolute
    width 0.0625rem
    height 0.0625rem
    border-radius 50%
    background #111
    animation ripple-animation 1s
    overflow hidden
    z-index 1

.standard-button
  font-family Lato, sans-serif
  text-transform uppercase
  font-weight bold
  color mainWhite
  border none 
  border-radius 0.1875rem
  position relative
  outline none
  cursor pointer
  overflow hidden
  &_size_small 
    width 4.875rem
    height 1.375rem
    font-size 0.625rem
    letter-spacing 0.0313rem
  &_size_big
    width 7.375rem
    height 2rem 
    font-size 0.75rem
    letter-spacing 0.0375rem

  &_color_blue
    background-color mainBlueLight 
    &:hover
      box-shadow 0 0.1875rem 0 0 mainBlueDark 
    &:active
      background-color mainWhite
      color mainBlueLight
      border solid 0.0625rem mainBlueDark
      box-shadow 0 0.1875rem 0 0 mainBlueDark
      
  &_color_red 
    background-color mainRedLight
    &:hover
      box-shadow 0 0.1875rem 0 0 mainRedDark 
    &:active
      background-color mainWhite
      color mainRedLight
      border solid 0.0625rem mainRedDark
      box-shadow 0 0.1875rem 0 0 mainRedDark




@keyframes ripple-animation
  from
    transform scale(1)
    opacity 1

  to
    transform scale(70)
    opacity 0