mixin input-form({type, placeholder, name})
    .input-form
        input(type = `${type}` placeholder = placeholder class = `input-form__element_type_${type} input-form__element_decor` required name = name)
        .input-form__info