mixin input-form(data)
    .input-form
        input(type = data.type placeholder = data.placeholder class='input-form__element_type_'+data.type+' input-form__element_decor' required name = data.name)
        .input-form__info