@import '~style/colors.styl'

.calendar
  width 17.4375rem
  display block
  border-radius 0.25rem
  overflow hidden

  .ui-corner-all  //текст внутри головы календаря
    font-style normal

  &__day
    height 3.875rem
    position relative
    display block
    z-index 1
    border none
    background-color mainRedLight
    color mainWhite
    font-size 5rem
    font-weight 300
    letter-spacing -0.2rem
    font-family Lato, sans-serif
    width 100%
    text-align center
    padding-top 1.25rem

  .ui-datepicker-header //голова календаря
    width 17.4375rem
    height 4.4375rem
    background-color mainRedLight
    color mainWhite
    position relative

    .ui-icon   //стили для иконок
      border 0.125rem solid mainWhite
      border-width 0.125rem 0.125rem 0 0
      width 0.6875rem
      height 0.6875rem
      display block

    .ui-datepicker-prev //кнопка "назад"
      font-size 0
      position absolute 
      bottom 0.9375rem
      left 1rem
      z-index 1
      transform rotate(225deg)

    .ui-datepicker-next //кнопка "вперед"
      font-size 0
      position absolute 
      bottom 0.9375rem
      right 1rem
      z-index 1
      transform rotate(45deg)

    .ui-datepicker-title 
      width 17.4375rem
      height 2.6875rem
      background-color mainOrange
      position absolute
      bottom 0

      .ui-datepicker-month   //месяц
        display block
        font-family Lato
        font-size 1.5rem
        font-weight 300
        line-height 2.5rem
        letter-spacing -0.045rem
        text-align center

      .ui-datepicker-year    //год
        display none

  .ui-datepicker-calendar  //таблица календаря
    width 17.4375rem
    height 12.4375rem
    background-color mainWhite
    border-collapse collapse

    thead  //дни недели
      color mainWhite
      background-color mainRedLight
      height 1.625rem
      font-family Lato
      font-size 0.5625rem
      font-weight 400
      line-height 1.625rem
      text-transform uppercase
    tbody
      td //ячейки чисел
        width 2.4375rem
        text-align center
        height 2.4375rem
        background-color mainGray242
        border 0.125rem solid mainWhite

        .ui-state-default //число
          width 1.1875rem
          height 0.8125rem
          color mainGray134
          font-family "Source Sans Pro", sans-serif
          font-size 1.25rem
          font-weight 400
          text-decoration none

      .ui-datepicker-current-day
        a
          color mainBlack
          text-decoration underline

      .ui-datepicker-today
          background-color mainRedLight
          a
            color mainWhite
            text-decoration none

      .ui-state-disabled
        .ui-state-default
          color mainWhite 

  .ui-datepicker-current  //кнопка "сегодня"
    display block
    width 17.4375rem
    height 3.0625rem
    background-color mainGray229
    color mainGray134
    font-family Lato
    font-size 0.8125rem
    font-weight bold
    text-transform uppercase
    letter-spacing 0.0406rem
    text-align left
    padding-left 1.125rem
    outline none
    border none
    border-radius 0 0 0.25rem 0.25rem

    &:hover 
      cursor pointer
      background-color mainGray213

    &:active
      background-color mainWhite