.search-drop-down
  margin 0 auto
  display flex
  justify-content space-around
  align-items center
  flex-wrap wrap
  padding-top 0.6875rem
  max-width 18.75rem
  position relative
  bottom 0.625rem

  &__search
    display flex
    flex-direction column
    height 5.5rem
    margin-top 0.9375rem
    margin-bottom 0.625rem

  &__title
    height 1.125rem
    color mainGray79
    font-family Lato, sans-serif
    font-size 1.125rem
    font-weight bold
    text-transform uppercase
    letter-spacing 0.075rem
    word-spacing 0.25rem
    text-align center