.sliders-container
  width 70%
  min-width 30rem
  &__sliders
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap
    margin-top 3.75rem
    align-content space-between