.standartButtons__button_big-blue 
  width 118px
  height 32px
  background-color #e75735
  font-size 12px
  letter-spacing 0.6px

.standartButtons__button_big-blue:hover
  background-color #e75735
  box-shadow 0 3px 0 0 #bf3e1f

.standartButtons__button_big-blue:active
  background-color #ffffff
  color #e75735
  border solid 1px #bf3e1f
  box-shadow 0 3px 0 0 #bf3e1f