.fullProduct
  color black
  max-width 62.5rem
  max-height 75rem
  margin auto
  display flex
  justify-content center
  flex-wrap wrap
  font-size 1.25rem
  background-color mainGray238
  
  &_media 
    max-width 37.5rem
    max-height 37.5rem
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    align-content center
    
    img 
      margin 0.3125rem
      width 45%
      display flex
      flex-wrap wrap
      transition all 0.5s ease

      &:hover
        transform scale(2)

  &_info
    width 25rem
    height 31.25rem
    display flex
    justify-content center
    align-items center
    flex-direction column
    background-color mainGray209

    &_title 
      width 18.75rem
      height 2.8125rem
      display block
      font-size 1.875rem
      padding-top 0.625rem

    &_description 
      text-align left
      padding-left 0.9375rem
      width 17.8125rem
      height 18.75rem
      display block

    &_buy
      padding-top 0.9375rem
      width 12.5rem
      height 6.25rem
      display block

      input 
        margin-top 0.3125rem
    