mixin stages({length, value})
    .stages
        - var x = 100 / (length - 1) * (value - 1) + '%'
            .stages__scale(style = (`width: ${x};`))
        - var n = 1;
        ul.stages__list
            - for(; n <=length; n++ ){
                li.stages__item(class=(n <= value) ? 'stages__item_selected-item' : '')= n
            - }