mixin stages(data)
  .stages
    - var x = 100/(data.length-1)*(data.value-1)+'%'
      .stages-select(style={ width: x})
    - var n = 1;
    ul
      while n<=data.value
        li(class=`li-edit`)= n++
      while n <= data.length
        li= n++
