include ../user-profile/user-profile

mixin user-profiles
    .user-profiles
        h2.user-profiles__title user profile
        .user-profiles__user-profile
            +user-profile({
                imageName: 'griffin.jpeg',
                userName:'John Smith', 
                profession: 'ux designer'
            })
        .user-profiles__user-profile
            +user-profile({
                imageName: 'wolf.jpeg',
                userName: 'Sarah Brown', 
                profession: 'developer'
            })