mixin location({longitude, latitude})
    .location.js-location
        .location__map.js-location__map(lat = longitude, lng = latitude )
        .location__menu
            .location__message Meet us!
            .location__address.js-location__address
            .location__buttons
                a.location__buttons-link(href="/mock-address/change-me")
                    .location__buttons-my-location
                a.location__buttons-link(href="/mock-address/change-me")
                    .location__buttons-pin