mixin location(data)
  .location
    .location_map#map(lat=data.longitude, lng=data.latitude )
    .location_menu
      .location_menu_message Meet us!
      .location_menu_address#map_address 
      .location_menu_buttons
        .location_menu_buttons_1
          a(href='#')
            svg(viewBox="0 0 295.82 295.82")
              path(d="m287.12,139.21h-26.537c-4.211-55.649-48.306-99.761-103.972-103.972v-26.537c0-5.22-3.48-8.701-8.701-8.701-5.22,0-8.701,3.48-8.701,8.701v26.537c-55.648,4.211-99.76,48.305-103.972,103.972h-26.536c-5.221,0-8.701,3.48-8.701,8.7 0,5.22 3.48,8.701 8.701,8.701h26.537c4.211,55.649 48.306,99.761 103.972,103.972v26.537c0,5.22 3.48,8.701 8.701,8.701 5.22,0 8.701-3.48 8.701-8.701v-26.537c55.649-4.211 99.761-48.306 103.972-103.972h26.537c5.22,0 8.701-3.48 8.701-8.701-0.002-5.22-3.482-8.7-8.702-8.7zm-130.509,103.954v-25.649c0-5.22-3.48-8.701-8.701-8.701-5.22,0-8.701,3.48-8.701,8.701v25.649c-45.365-4.246-82.308-41.189-86.554-86.554h25.649c5.22,0 8.701-3.48 8.701-8.701 0-5.22-3.48-8.701-8.701-8.701h-25.648c4.246-45.365 41.189-82.308 86.554-86.554v25.649c0,5.22 3.48,8.701 8.701,8.701 5.22,0 8.701-3.48 8.701-8.701v-25.647c45.365,4.246 82.308,41.189 86.554,86.554h-25.649c-5.22,0-8.701,3.48-8.701,8.701 0,5.22 3.48,8.701 8.701,8.701h25.649c-4.247,45.364-41.19,82.307-86.555,86.552z")
        .location_menu_buttons_2
          a(href='#')
            svg(viewBox="70 70 380 360") 
              path(class="target" d="M255,0C155.55,0,76.5,79.05,76.5,178.5C76.5,311.1,255,510,255,510s178.5-198.9,178.5-331.5C433.5,79.05,354.45,0,255,0z     M255,242.25c-35.7,0-63.75-28.05-63.75-63.75s28.05-63.75,63.75-63.75s63.75,28.05,63.75,63.75S290.7,242.25,255,242.25z")
