mixin location(data)
    .location
        .location__map(lat=data.longitude, lng=data.latitude )
        .location__menu
            .location__message Meet us!
            .location__address 
            .location__buttons
                a(href='#')
                    .location__buttons-my-location
                a(href='#')
                    .location__buttons-pin