mixin location(data)
    .location
        .location__map(lat=data.longitude, lng=data.latitude )
        .location-menu
            .location-menu__message Meet us!
            .location-menu__address 
            .location-menu__buttons
                a(href='#')
                    .location-menu__buttons-my-location
                a(href='#')
                    .location-menu__buttons-pin