@import '~style/colors.styl'

.location
  font-family Lato-Regular, sans-serif
  color mainWhite
  display block
  width 37.0625rem
  height 17rem
  background-color mainRedLight
  
  &__map
    width 100%
    height 12.6875rem
    background-color mainWhiteTranceparent

  &__menu
    width 100%
    height 4.3125rem
    display flex
    align-items center

  &__message
    font-size 1.875rem
    font-weight 300
    margin-left 1.67rem
    margin-bottom 0.875rem

  &__address
    width 11.125rem
    height 2.0625rem
    display flex
    align-items center
    font-size 0.8125rem
    font-weight bold
    text-transform uppercase
    letter-spacing 0.0394rem
    margin-left 1.3125rem
    margin-right auto
    overflow hidden
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical

  &__buttons
    margin-right 1.5625rem
    width 4.25rem
    height 1.625rem
    display flex
    justify-content space-between
    align-content flex-end

    &-my-location
      background-image url('~style/images/my-location.svg')
      width 1.6875rem
      height 1.625rem

    &-pin
      background-image url('~style/images/pin.svg')
      width 1.125rem
      height 1.5rem