.location
  display block
  width 37.0625rem
  height 17rem
  background-color mainRedLight
  &__map
    width 100%
    height 12.6875rem
    background-color mainWhiteTranceparent
  &-menu
    width 100%
    height 4.3125rem
    display flex
    align-items center
    &__message
      color mainWhite
      font-family Lato, sans-serif
      font-size 1.875rem
      font-weight 300
      margin-left 1.67rem
      margin-bottom 14px
    &__address
      width 11.125rem
      height 4.3125rem
      display flex
      align-items center
      color mainWhite
      font-family Lato, sans-serif
      font-size 0.8125rem
      font-weight bold
      text-transform uppercase
      letter-spacing 0.0394rem
      margin-left 1.3125rem
      margin-right auto
    &__buttons
      margin-right 1.5625rem
      width 4.25rem
      height 1.625rem
      display flex
      justify-content space-between
      align-content flex-end
      &-my-location
        background-image url('/src/style/images/my-location.svg')
        width 1.6875rem
        height 1.625rem
      &-pin
        background-image url('/src/style/images/pin.svg')
        width 1.125rem
        height 1.5rem