include ../arrow-button/arrow-button

mixin arrow-buttons
  .arrow-buttons
    each item in[{direction: 'left', color: 'white'}, {direction: 'right', color: 'white'}, {direction: 'left', color: 'gray'}, {direction: 'right', color: 'gray'}, {direction: 'left', color: 'green'}, {direction: 'right', color: 'green'}]
      +arrow-button(item)