.arButton
  border solid 0.3125rem red
  margin-right 2.5rem
  border-radius 50%
  width 3.125rem
  height 3.125rem
  position relative
  border solid 0.125rem #4eb7a8
  background-color #ffffff
  outline none

  &_trend_left
    &:after
      content ""
      width 0.625rem
      height 0.625rem
      position absolute 
      transform rotate(45deg)
      top 0.875rem
      border solid 0.25rem #4eb7a8
      left 1.0625rem
      border-top-color transparent
      border-right-color transparent

    &:hover
      border solid 0.125rem #e5e5e5
      background-color #e5e5e5

      &:after
        border-color #fff
        border-top-color transparent
        border-right-color transparent

    &:active
      border solid 0.125rem #4eb7a8
      background-color #4eb7a8

      &:after
        border-color #fff
        border-top-color transparent
        border-right-color transparent

  &_trend_right
    &:after
      content ""
      width 0.625rem
      height 0.625rem
      position absolute 
      transform rotate(45deg)
      top 0.875rem
      border solid 0.25rem #4eb7a8
      left 0.625rem
      border solid 0.25rem #4eb7a8
      border-bottom-color transparent
      border-left-color transparent

    &:hover
      border solid 0.125rem #e5e5e5
      background-color #e5e5e5

      &:after
        border-color #fff
        border-bottom-color transparent
        border-left-color transparent

    &:active
      border solid 0.125rem #4eb7a8
      background-color #4eb7a8

      &:after
        border-color #fff
        border-bottom-color transparent
        border-left-color transparent