.arButton
  margin-right 2.5rem
  border-radius 50%
  width 3.125rem
  height 3.125rem
  position relative
  border solid 0.125rem mainBlueLight
  background-color mainWhite
  outline none

  &_trend_left
    &:after
      content ""
      width 0.625rem
      height 0.625rem
      position absolute 
      transform rotate(45deg)
      top 0.875rem
      border solid 0.25rem mainBlueLight
      left 1.0625rem
      border-top-color transparent
      border-right-color transparent

    &:hover
      border solid 0.125rem mainGray229
      background-color mainGray229

      &:after
        border-color mainWhite
        border-top-color transparent
        border-right-color transparent

    &:active
      border solid 0.125rem mainBlueLight
      background-color mainBlueLight

      &:after
        border-color mainWhite
        border-top-color transparent
        border-right-color transparent

  &_trend_right
    &:after
      content ""
      width 0.625rem
      height 0.625rem
      position absolute 
      transform rotate(45deg)
      top 0.875rem
      border solid 0.25rem mainBlueLight
      left 0.625rem
      border solid 0.25rem mainBlueLight
      border-bottom-color transparent
      border-left-color transparent

    &:hover
      border solid 0.125rem mainGray229
      background-color mainGray229

      &:after
        border-color mainWhite
        border-bottom-color transparent
        border-left-color transparent

    &:active
      border solid 0.125rem mainBlueLight
      background-color mainBlueLight

      &:after
        border-color mainWhite
        border-bottom-color transparent
        border-left-color transparent