include ./../pageModules/header/headerMixin
include ./../pageModules/footer/footerMixin
include ./catalogProduct/productMixin.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title  Каталог(UIkit)
  body 
    .layout
      +header
      .main
        .productsBlock
          +product('bmw', 'BMW7S', '3000')
          +product('cadilac', 'Escalade', '3000')
          +product('camaro', 'Camaro', '3500')
          +product('ford', 'Mustang', '3500')
          +product('hummer', 'Hummer3', '3800')
          +product('porshe', 'Porshe911', '4000')
          +product('RR', 'Rolls-Royse', '7000')
      +footer  