include ./../page-modules/header/header
include ./../page-modules/footer/footer
include ./product/product

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title  Каталог(UIkit)
  body 
    .layout
      +header
      .main
        .products-page-content
          +product({pictureName: 'bmw', carName: 'BMW7S', carPrice: '3000'})
          +product({pictureName: 'cadilac', carName: 'Escalade', carPrice: '3000'})
          +product({pictureName: 'camaro', carName: 'Camaro', carPrice: '3500'})
          +product({pictureName: 'ford', carName: 'Mustang', carPrice: '3500'})
          +product({pictureName: 'hummer', carName: 'Hummer3', carPrice: '3800'})
          +product({pictureName: 'porshe', carName: 'Porshe911', carPrice: '4000'})
          +product({pictureName: 'RR', carName: 'Rolls-Royse', carPrice: '7000'})
      +footer  