.textarea
  &__element
    width 17.375rem
    height 5.5rem
    resize none
  
    &_decor
      outline none
      color mainGray136
      font-size 0.875rem
      font-weight 400
      line-height 2.625rem
      letter-spacing 0.0088rem
      font-family "Source Sans Pro", sans-serif
      border none
      border-radius 0.125rem
      background-color mainGray229
      padding 0
      margin-bottom 0.75rem
      padding-left 0.625rem