mixin drop-down({name, values})
    div(class='drop-down')
        p(class = 'drop-down__default-string', name = name)= values[0]
        ul(class = 'drop-down__items')
            each item in values
                li.drop-down__item= item
