@import '~style/colors.styl'

.drop-down
  font-family SourceSansPro-Regular, sans-serif
  font-size 14px
  line-height 28px
  letter-spacing 0.14px
  text-align left
  width 287px
  position relative
  height 28px
  border-radius 3px
  background-color mainGray229
  cursor pointer
  overflow hidden

  &:before
    content ""
    display block
    position absolute
    right 0
    z-index 1
    width 33px
    height 28px
    background-color mainBlueLight
    border-radius 0 3px 3px 0
    pointer-events none

  &:after
    content ""
    display block
    position absolute
    right 10px
    top 5px
    width 10px
    height 10px
    z-index 2
    border solid 0 mainWhite
    border-width 0 2px 2px 0
    transform rotate(45deg)
    pointer-events none


  &__default-string 
    padding-left 13px
    margin 0
    cursor pointer
    height 28px
    color mainGray85

  &__items 
    display block
    background mainWhite
    width 287px
    overflow-y auto
    overflow-x hidden !important
    position absolute
    margin-top 0
    padding 0
    border-radius 5px

  &__item 
    display block
    height 28px
    background mainBlueLight
    cursor pointer
    color mainWhite
    line-height 28px
    padding-left 13px

    &:hover 
      color mainBlueLight
      background mainGray229
      transition .5s

    &:first-child
      display none
