@import '~style/colors.styl'

.drop-down
  font-family SourceSansPro-Regular, sans-serif
  font-size 0.875rem
  line-height 1.75rem
  letter-spacing 0.0088rem
  text-align left
  width 17.9375rem
  position relative
  height 1.75rem
  border-radius 0.1875rem
  background-color mainGray229
  cursor pointer
  overflow hidden

  &:before
    content ""
    display block
    position absolute
    right 0
    z-index 1
    width 2.0625rem
    height 1.75rem
    background-color mainBlueLight
    border-radius 0 0.1875rem 0.1875rem 0
    pointer-events none

  &:after
    content ""
    display block
    position absolute
    right 0.625rem
    top 0.3125rem
    width 0.625rem
    height 0.625rem
    z-index 2
    border solid 0 mainWhite
    border-width 0 0.125rem 0.125rem 0
    transform rotate(45deg)
    pointer-events none


  &__default-string 
    padding-left 0.8125rem
    margin 0
    cursor pointer
    height 1.75rem
    color mainGray85

  &__items 
    display block
    background mainWhite
    width 17.9375rem
    overflow-y auto
    overflow-x hidden !important
    position absolute
    z-index 99
    margin-top 0
    padding 0
    border-radius 0.3125rem

  &__item 
    display block
    height 1.75rem
    background mainBlueLight
    cursor pointer
    color mainWhite
    line-height 1.75rem
    padding-left 0.8125rem

    &:hover 
      color mainBlueLight
      background mainGray229
      transition .5s

    &:first-child
      display none
