.news-events-container
  &__news-events
    display flex
    justify-content center
    margin-top 1.6875rem
    // margin-bottom 1.5625rem

  &__news
    margin 0.625rem

  &__events
    margin 0.625rem