.userProfile
  width 84px
  height 84px
  border solid 4px #aaaaaa
  border-radius 50%
  display block
  background-size 105%
  position relative
  margin 5px
  z-index 10
  &:hover .userProfile_info
    transform scaleX(1) 
    transition: all 0.5s;
  &_griffin
    background: #aaa url(./images/griffin.jpeg) no-repeat 50% 50% / 105%
  &_wolf
    background: #aaa url(./images/wolf.jpeg) no-repeat 50% 50% / 105%
  &_hidden
    width 110px
    height 90px
    background-color rgba(0,0,0,0) 
  &_info
    transform: scaleX(0)
    width 163px
    height 90px
    background-color #e5e5e5
    margin-left 100px
    position relative
    bottom 3px
    border-radius 4px

    &::after 
      content ""
      display block
      width 10px
      height: 10px
      background-color #e5e5e5
      transform rotate(-45deg)
      position absolute
      top 40px
      right 157px
      border-radius 3px 0 0 0 
          z-index 1

    &_name
      color #e75735
      font-size 18px
      font-weight normal
      font-family Lato-Regular, sans-serif
      line-height 18px
      padding-top 13px
    &_position
      color #4f4f4f
      font-family Lato-Black, sans-serif
      font-size 11px
      font-weight 700
      line-height 11px
      text-transform uppercase
      letter-spacing 0.55px
      margin-top 8px
    &_socialNetworks 
      width 60%
      height 21px
      padding-top 12px
      margin auto
      display flex
      justify-content space-around
      align-items flex-end
      &_facebook
        width: 20px
        height 20px
      &_twitter
        width: 20px
        height 19px
      &_dribbble
        width: 21px
        height 20.5px
      svg 
        transition: all .2s;
        fill: #757575;
      svg:hover 
        fill: #e75735;

  .userProfile_info_developer
    color #ffffff
    background-color #28a290
    transform: scaleX(0)
    width 163px
    height 90px
    margin-left 100px
    position relative
    border-radius 4px
    &::after 
      content ""
      display block
      width 10px
      height: 10px
      background-color #28a290
      transform rotate(-45deg)
      position absolute
      top 40px
      right 157px
      border-radius 3px 0 0 0 
    .userProfile_info_name
      color #ffffff
      font-size 18px
      font-weight normal
      font-family Lato-Regular, sans-serif
      line-height 18px
      padding-top 13px
    .userProfile_info_position
      color #ffffff
      font-family Lato-Black, sans-serif
      font-size 11px
      font-weight 700
      line-height 11px
      text-transform uppercase
      letter-spacing 0.55px
      margin-top 8px
    .userProfile_info_socialNetworks 
      width 60%
      height 21px
      padding-top 12px
      margin auto
      display flex
      justify-content space-around
      align-items flex-end
      &_facebook
        width: 20px
        height 20px
      &_twitter
        width: 20px
        height 19px
      &_dribbble
        width: 21px
        height 20.5px
      svg 
        transition: all .2s;
        fill: #ffffff;
      svg:hover 
        fill: #aaa;