@import '~style/colors.styl'

.messaging
  width 18.125rem
  height 26.875rem
  background-color mainGray242
  border-radius 0.25rem
  position relative

  &__header
    width 100%
    height 5.0625rem
    background-color mainBlueLight
    border-radius 0.25rem 0.25rem 0 0
    box-shadow 0 2.125rem mainBlue
    text-transform capitalize
    color mainWhite
    font-family Lato
    font-size 2rem
    font-weight 100
    line-height 4.625rem 
    letter-spacing -0.0563rem

  &__photo
    border-radius 50%
    background-color mainWhite
    margin 0 auto 0 auto
    width 5.25rem
    height 5.25rem
    position relative
    right 0.5rem
    bottom 0.625rem
    box-shadow inset 0 0 0 0.25rem mainGray170
    
  &__icons
    display block
    width 1.875rem
    height 0
    position relative

    &-send-message, &-send-photo
      width 1.6875rem
      height 1.6875rem
      position relative

    &-send-message
      bottom 1.875rem
      left 1.6875rem
      background no-repeat url('~style/images/messaging-message.svg') 

    &-send-photo
      background-image url('~style/images/messaging-photo.svg')
      bottom 3.5625rem
      left 14.8125rem

  &__chat
    margin-left auto
    margin-right auto
    width 90%
    max-height 4.6875rem
    overflow-y auto
    margin-bottom 1.875rem
    padding-top 0.6875rem

    &::-webkit-scrollbar
      width 0

    &_message
      width 80%
      border-radius 0.3125rem
      background-color mainWhite
      padding 0.9375rem 
      text-align left
      color mainGray134
      font-family Lato
      font-size 0.8125rem
      line-height 1.125rem
      font-weight 700
      letter-spacing 0.0394rem
      margin-bottom 0.9375rem

      &_incoming, &_outgoing
        position relative
        margin auto
        margin-bottom 0.625rem
        word-wrap break-word

        &:after
          content ""
          display block
          width 0.625rem
          height 0.625rem
          background-color mainWhite
          transform rotate(45deg)
          position absolute
          border-radius 0.125rem

      &_incoming
        &:after
          left 6.875rem
          bottom 3.5625rem

      &_outgoing
        &:after
          top 40%
          right -0.25rem

  &__input
    &-new-message
      width 12.9375rem
      height 3.125rem
      position absolute 
      bottom 4.9375rem
      left 1.375rem
      border 0.1875rem solid mainWhite
      background-color mainGray229
      color mainGray116
      font-family Lato
      font-size 0.8125rem
      line-height 0.9375rem
      font-weight 700
      letter-spacing 0.0394rem
      outline none
      padding 1rem
      border-radius 0.4375rem
      resize none

  &__button-send-message
    display block
    position absolute
    bottom 1.9375rem
    left 1.5rem
    width 15.1875rem
    height 2rem 
    font-size 1.25rem

