@import '~style/colors.styl'

.messager
  width 18.125rem
  height 30.625rem
  background-color mainGray242
  border-radius 0.25rem
  position relative

  &__header
    width 100%
    height 5.0625rem
    background-color mainBlueLight
    border-radius 0.25rem 0.25rem 0 0
    box-shadow 0 2.125rem mainBlue
    content '\f075' mainGray134
    text-transform capitalize
    color mainWhite
    font-family Lato
    font-size 2.125rem
    font-weight 100
    line-height 5.0625rem 
    letter-spacing -0.0638rem

  &__photo
    border-radius 50%
    background-color mainWhite
    margin 0 auto 0 auto
    width 5.25rem
    height 5.25rem
    position relative
    bottom 0.6875rem
    box-shadow inset 0 0 0 0.25rem mainGray170
    
  &__icons
    display block
    width 1.875rem
    height 0
    position relative

    &-send-message
      width 2.1875rem
      height 2.1875rem
      background no-repeat url('~style/images/messager-message.svg') 
      position relative
      bottom 2.8125rem
      left 1.25rem

    &-send-photo
      width 2.1875rem
      height 2.1875rem
      background-image url('~style/images/messager-photo.svg')
      position relative
      bottom 5rem
      left 15rem

  &__chat
    margin-left auto
    margin-right auto
    width 90%
    max-height 8.75rem
    overflow-y auto
    margin-bottom 1.875rem

    &::-webkit-scrollbar
      width 0

    &_message
      width 60%
      border-radius 0.3125rem
      background-color mainWhite
      padding 0.9375rem 
      text-align left
      color mainGray134
      font-family Lato
      font-size 0.8125rem
      font-weight 700
      letter-spacing 0.0394rem
      margin-bottom 0.9375rem

      &_incoming
        position relative
        margin-left 3%

        &:after
          content ""
          display block
          width 0.625rem
          height 0.625rem
          background-color mainWhite
          transform rotate(45deg)
          position absolute
          left -0.25rem
          top 45%
          border-radius 0.125rem
      &_outgoing
        position relative
        margin-left 22% 

        &:after
          content ""
          display block
          width 0.625rem
          height 0.625rem
          background-color mainWhite
          transform rotate(45deg)
          position absolute
          right -0.25rem
          top 45%
          border-radius 0.125rem

      &:first-child
        box-shadow inset 0 0.9375rem 0.625rem -0.625rem mainGray242

      &:last-child
        box-shadow inset 0 -0.9375rem 0.625rem -0.625rem mainGray242

  &__input
    &-new-message
      width 12.9375rem
      height 3.125rem
      position absolute 
      bottom 4.9375rem
      left 1.375rem
      border 0.1875rem solid mainWhite
      background-color mainGray229
      color mainGray116
      font-family Lato
      font-size 0.8125rem
      font-weight 700
      letter-spacing 0.0394rem
      outline none
      padding 1rem
      border-radius 0.4375rem

  &__button-send-message
    display block
    position absolute
    bottom 1.8125rem
    left 1.375rem
    width 15.1875rem
    height 2rem 
    font-size 1.25rem

