mixin messager() 
  form.messagerForm
    .messager 
      .messager__header
        .messager__header__name sarah brown
      .messager__photo
        +userProfile('wolf', 'Sarah Brown', 'developer')
      .messager__icons
        .messager__icons__message
        .messager__icons__sendPhoto
      .messager__chat

      input.messager__input__newMessage#messager__input__newMessage(placeholder='Your message' type='text')
      .messager__input__btn#messager__input__btn
        +stButton('big', 'blue', 'reply', 'submit') 