mixin product(data)
  .product
    .product_image
      a(href='./productInfo.html?carImage='+data.pictureName+'&carName='+data.carName+'&carPrice='+data.carPrice)
        img(src=require("./productImages/"+data.pictureName+"1.jpeg"))
    .product_name=data.carName
    .product_price= data.carPrice+' руб./час'
    .product_info
      a(href='./productInfo.html?carImage='+data.pictureName+'&carName='+data.carName+'&carPrice='+data.carPrice)
        +stButton({size: 'big', color: 'red', value: 'Подробнее', type: 'button'}) 
