.productsBlock
  display flex
  flex-wrap wrap
  justify-content center
  .product
    width 300px
    height 400px
    margin 5px
    background-color #ddd
    &_image
      border 1px solid #999
      width 99.5%
      height 66%
      display flex
      align-items: center
      a
        width 100%
        img 
          width 100%
          transition: all 0.5s ease;
          &:hover
            transform: scale(1.2);
    &_name 
      font-size 26px
    &_price  
      font-size: 26px
    &_info
      margin-top 5px
      margin-left 170px

    &_name, &_price
      margin-left 15px
      margin-top 15px
    