mixin product(image, name, price)
  .product
    .product_image
      a(href='./productInfo.html?carImage='+image+'&carName='+name+'&carPrice='+price)
        img(src=require("./productImages/"+image+"1.jpeg"))
    .product_name=name
    .product_price= price+' руб./час'
    .product_info
      a(href='./productInfo.html?carImage='+image+'&carName='+name+'&carPrice='+price)
        +stButton('big', 'red','Подробнее', 'button') 
