mixin standard-slider(data)
    .standard-slider.js-standard-slider(data-minimum = data.minimum, data-default = data.value, data-maximum = data.maximum)
        .standard-slider__custom-handle.js-standard-slider__custom-handle.ui-slider-handle 555
