mixin standard-slider({minimum, value, maximum})
    .standard-slider.js-standard-slider(data-minimum = minimum, data-default = value, data-maximum = maximum)
        .standard-slider__custom-handle.js-standard-slider__custom-handle.ui-slider-handle 555
