
.arrowH1
  height 18px
  color #4f4f4f
  font-family  Lato
  font-size 18px
  font-weight 400
  text-transform uppercase
  letter-spacing 0.9px
  border solid 2px green
  text-align center
   
.arrowButtons
  width 100%
  border solid 2px red
  text-align center

  button.btn1
    margin-right 40px
    border-radius 50%
    width 50px
    height 50px
    position relative
    border solid 2px #4eb7a8
    background-color #ffffff
    &:after
      content ""
      width  10px
      height 10px
      position absolute 
      transform rotate(45deg)
      top 14px
      left 17px
      border solid 4px #4eb7a8
      border-top-color transparent
      border-right-color transparent

  button.btn2
    margin-right 40px
    border-radius 50%
    width 50px
    height 50px
    position relative
    border solid 2px #4eb7a8
    background-color #ffffff
    &:after
      content ""
      width  10px
      height 10px
      position absolute 
      transform rotate(45deg)
      top 14px
      left 10px
      border solid 4px #4eb7a8
      border-bottom-color transparent
      border-left-color transparent

  button.btn1:hover
    border solid 2px #e5e5e5
    background-color #e5e5e5
    &:after
      border solid 4px #fff
      border-top-color transparent
      border-right-color transparent
      
  button.btn1:active
    border solid 2px #4eb7a8
    background-color #4eb7a8
    &:after
      border solid 4px #fff
      border-top-color transparent
      border-right-color transparent

  button.btn2:hover
    border solid 2px #e5e5e5
    background-color #e5e5e5
    &:after
      border solid 4px #fff
      border-bottom-color transparent
      border-left-color transparent
      
  button.btn2:active
    border solid 2px #4eb7a8
    background-color #4eb7a8
    &:after
      border solid 4px #fff
      border-bottom-color transparent
      border-left-color transparent

.arrowPack
  border solid 2px blue
  padding 20px