@require './colors.styl'
@require './../modules/**/*.styl'
@require './../pages/**/*.styl'
@font-face
  font-family Lato-Regular
  src url(/fonts/Lato/Lato-Regular.ttf)

  font-family Lato-Black
  src url(/fonts/Lato/Lato-Black.ttf)

  font-family Lato-Light
  src url(/fonts/Lato/Lato-Light.ttf)

@font-face		
  font-family SourceSansPro-Black
  font-style normal		
  src url(/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf)


html
  font-size 16px

  body
    margin 0
    padding 0
    
    .demo-layout
      padding 2.9375rem
      display flex
      flex-direction column
      align-items center
      margin 0 auto
      max-width 60rem

      .ui-element__container
        width 100%
        text-align center
        .container__title
          height 1.125rem
          color mainGray79
          font-family Lato, sans-serif
          font-size 1.125rem
          font-weight bold
          text-transform uppercase
          letter-spacing 0.075rem
          word-spacing 0.25rem
          text-align center
        .container
          &__elements
            margin 0 auto
            display flex
            justify-content space-around
            align-items center
            flex-wrap wrap
          &__standard-buttons
            width 51%
            padding-top 3.75rem
            align-items flex-end
            padding-bottom 9.0625rem
          &__arrow-buttons
            width 16%
            padding-top 1.5625rem
            padding-bottom 1.875rem
          &__percentages-pie-chart
            width 65%
            padding 2.4375rem
            padding-bottom 0.625rem
          &__sliders
            width 70%
            margin-top 2.1875rem
            padding-top 0.875rem
            padding-bottom 0.8125rem
          &__stages
            padding-top 1.0625rem
            padding-bottom 2.5rem
          &__form-elements
            display flex
            justify-content center
            width 80%
            padding-top 1.25rem
            .form-elements__form
              padding-top 1.125rem
              position relative
              right 5.9375rem
            .form-elements__toggles-and-tick-box
              position relative
              left 0.9375rem
              bottom 0.625rem
              .form-elements__toggles
                position relative
                bottom 1.625rem
                padding-top 3rem
                right 0.625rem
                display flex
                justify-content space-around
                width 110%
                margin 0 auto
              .form-elements__tick-box
                padding-top 1.25rem
                display flex
                justify-content space-around
                width 70%
                margin 0 auto
          &__search-drop-down-user-profile
            display flex
            align-items flex-start
            justify-content space-around
            width 80%
            position relative
            top 3rem
            .container__search-drop-down
              position relative
              left 2.3125rem
              .elements__search-drop-down
                padding-top 1.25rem
                min-width 20rem
                position relative
                bottom 0.625rem
                .search__block
                  margin-bottom 0.9375rem
            .container__user-profile
              min-width 20rem
              position relative
              right 1.875rem
              padding-bottom 6.875rem
              .elements__user-profile
                display flex
                flex-direction column
                justify-content flex-end
                .user-profile
                  margin 1rem
                  margin-left 1.5625rem
          &__news-events
            display flex
            justify-content center
            padding-top 0.9375rem
            padding-bottom 1.5625rem
            .container__news
              padding 0.4375rem
            .container__events
              padding 0.4375rem
          &__location
            padding-top 1.25rem
            padding-bottom 2.1875rem
          &__calendar-messaging
            width 65%
            display flex
            align-items flex-start
            justify-content space-around
            padding-bottom 1.875rem
            .calendar__element, .messaging__element
              padding-top 0.75rem
          &__video-player
            padding-top 0.625rem
            padding-bottom 1.875rem

    .layout
      width 100%
      height 100vh
      display flex
      flex-direction column

      .main
        flex 1 0 auto
        
      .footer
        flex 0 0 auto
