@import './colors.styl'

@font-face
  font-family Lato-Regular
  src url(/fonts/Lato/Lato-Regular.ttf)

  font-family Lato-Black
  src url(/fonts/Lato/Lato-Black.ttf)

  font-family Lato-Light
  src url(/fonts/Lato/Lato-Light.ttf)

@font-face		
  font-family SourceSansPro-Black
  src url(/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf)

  font-family SourceSansPro-Regular
  src url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)

html
  overflow-x hidden
  font-size 16px
  min-width 30rem

  body
    margin 0
    padding 0
    display flex
    justify-content center