mainBlueLight = #4eb7a8
mainBlue = #46ab9d
mainBlueDarken = #379285
mainBlueDark = #28a290

mainRedLight = #e75735
mainRedDark = #bf3e1f
mainOrange = #d54c2c

mainGreen = green

mainWhiteTranceparent = rgba(0,0,0,0.3)
mainWhite = #fff
mainBlack = #000000
mainBlackTranceparent = rgba(0,0,0,0) 

mainGray242 = #f2f2f2
mainGray238 = #eee
mainGray229 = #e5e5e5 
mainGray221 = #ddd
mainGray213 = #d5d5d5
mainGray209 = #d1d1d1 
mainGray192 = #c0c0c0
mainGray170 = #aaa 
mainGray157 = #9d9d9d 
mainGray136 = #888 
mainGray134 = #868686
mainGray116 = #747474 
mainGray102 = #666
mainGray85 = #555 
mainGray79 = #4f4f4f
mainGray68 = #444
mainGray51 = #333
mainGray34 = #222
mainGray17 = #111

