.percentH1
  height 18px
  color #4f4f4f
  font-family  Lato
  font-size 18px
  font-weight 400
  text-transform uppercase
  letter-spacing 0.9px
  border solid 2px green
  text-align center

.percentagesPieChart
  width 100%
  border solid 2px red
  text-align center

  .pieChart
    width 95px
    height 95px
    text-align center
    border-radius 50%
    background #e75735

      