.percentH1
  height 18px
  color #4f4f4f
  font-family  Lato
  font-size 18px
  font-weight 400
  text-transform uppercase
  letter-spacing 0.9px
  border solid 2px green
  text-align center

.percentagesPieChart
  width 100%
  border solid 2px red
  text-align center

  .pieChart
    border solid 5px blue
    text-align center
    width 85px
    height 85px
    border-radius 50%

  .chart5
    border solid 17px blue
    width 61px
    height 61px