@font-face
  font-family Lato-Black
  font-style normal
  src url(/fonts/Lato/Lato-Black.ttf)

body
  background-color #fff

div
  margin-bottom 20px

.standartButtons
  width 100%
  border solid 2px red

  button 
    margin-right 20px
  
  button:nth-child(4n)
    margin-right 0

.standartH1
  height 18px
  color #4f4f4f
  font-family  Lato
  font-size 18px
  font-weight 400
  text-transform uppercase
  letter-spacing 0.9px
  border solid 2px green
  text-align center

.buttonsPack
  border solid 2px blue
  padding 10px 0
  text-align center

.btnPack
  font-family Lato
  text-transform uppercase
  font-weight 400
  color #ffffff
  border none 
  border-radius 5px
  
.btnPack.btn2 
.btnPack.btn3
  width 118px
  height 32px
  background-color #e75735
  font-size 12px
  letter-spacing 0.6px

.btnPack.btn1 
.btnPack.btn4
  width 78px
  height 22px
  background-color #4eb7a8
  font-size 10px
  letter-spacing 0.5px

.btnPack.btn2:hover
.btnPack.btn3:hover
  background-color #e75735
  box-shadow 0 3px 0 0 #bf3e1f

.btnPack.btn1:hover
.btnPack.btn4:hover
  background-color #4eb7a8
  box-shadow 0 3px 0 0 #28a290

.btnPack.btn2:active
.btnPack.btn3:active
  background-color #ffffff
  color #e75735
  border solid 1px #bf3e1f
  box-shadow 0 3px 0 0 #bf3e1f

.btnPack.btn1:active
.btnPack.btn4:active
  background-color #fff
  color #4eb7a8
  border solid 1px #28a290
  box-shadow 0 3px 0 0 #28a290