// @font-face
//   font-family Lato-Black
//   font-style normal
//   src url(/fonts/Lato/Lato-Black.ttf)

// body
//   background-color #fff

// div
//   margin-bottom 20px

// .standartButtons
//   width 100%
//   border solid 2px red

//   button 
//     margin-right 20px
  
//   button:nth-child(4n)
//     margin-right 0

// .standartH1
//   height 18px
//   color #4f4f4f
//   font-family  Lato
//   font-size 18px
//   font-weight 400
//   text-transform uppercase
//   letter-spacing 0.9px
//   border solid 2px green
//   text-align center




