mixin search
  form(action='' method='post' class='search')
    input(type='search' name='' placeholder='Search' class='search_input' id='search_input')
    input(type='submit' name='' value='' class='search_submit' id='search_submit')
    svg
      circle(r='4' cx='10' cy='10' stroke='white' fill='transparent'  stroke-width='2')
      line(x1="13" y1="13" x2="18" y2="18" stroke="white" stroke-width="2")
