include ./../page-modules/header/header
include ./../page-modules/footer/footer
include ./../../modules/event/event
include ./../../modules/news/news

doctype html
html(lang = "ru")
    head
        meta(charset = "utf-8")
        title Главная(UIkit)
    body
        .layout
            +header
            .main
                .first-page-content
                    .first-page-content__about-us 
                        p.first-page-content__text Мы - компания занимающаяся сдачей в аренду элитных машин по-часово.
                        p.first-page-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, tenetur exercitationem suscipit blanditiis ullam impedit ea obcaecati architecto veniam sit ratione, est amet error ipsam molestiae aut. Delectus, architecto numquam!
                    .first-page-content__news-and-events
                        .first-page-content__news-block 
                            .first-page-content__title Новости
                            +news({
                                imageName: 'productImages/camaro.jpeg',
                                newsTitle: "Новая машина",
                                newsDate: '12 august 2013',
                                newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'
                            })
                            +news({
                                imageName: 'productImages/porshe.jpeg',
                                newsTitle: "Новая машина", 
                                newsDate:'25 may 2013', 
                                newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'
                            })
                            +news({
                                imageName: 'productImages/ford.jpeg',
                                newsTitle: "Новая машина", 
                                newsDate: '31 september 2013', 
                                newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'
                            })
                            +news({
                                imageName: 'productImages/cadilac.jpeg',
                                newsTitle: "Новая машина", 
                                newsDate: '2 december 2013',
                                newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'
                            })
                        .first-page-content__events-block 
                            .first-page-content__title Мероприятия
                            +event({
                                imageName: 'city.jpeg',
                                eventDay: '24', 
                                eventMouth: 'sept', 
                                eventTitle: 'Выставка',
                                eventText: 'Выставка новых авто в нашем салоне'
                            })
                            +event({
                                imageName: 'sale.jpg',
                                eventDay: '01', 
                                eventMouth: 'aug', 
                                eventTitle: 'скидки', 
                                eventText: 'Весь август скидки на аренду авто 10%, при бронировании до 1-го августа'
                            })
                            +event({
                                imageName: 'square2.jpg',
                                eventDay: '15', 
                                eventMouth: 'jule', 
                                eventTitle: 'Выставка-показ',
                                eventText: 'Выставка-показ наших авто на центральной площади города. С 12 до 15 часов.'
                            })
                            +event({
                                imageName: 'summer.jpg',
                                eventDay: '31', 
                                eventMouth: 'june', 
                                eventTitle: 'Выставка',
                                eventText: 'Выставка и консультация в нашем салоне.'
                            })
                            +event({
                                imageName: 'square.jpg',
                                eventDay: '12', 
                                eventMouth: 'may', 
                                eventTitle: 'Выставка-показ',
                                eventText: 'Выставка-показ наших авто на центральной площади города. С 12 до 15 часов.'
                            })
            +footer