.standard-buttons
  margin 0 auto
  display flex
  justify-content space-around
  align-items center
  flex-wrap wrap
  
  &__row
    &_first, &_second, &_third
      display flex
      justify-content space-around
      align-items center
      width 52%
      padding-top 1.3125rem
      align-items flex-end
      flex-wrap wrap

    &_first
      padding-top 3.75rem

    &_third
      padding-bottom 2.5rem