@import '~style/colors.styl'

.event
  width 18rem 
  height 13.25rem
  border-radius 0.25rem
  display flex
  background-color mainBlueLight

  &__image
    width 40%
    height 13.25rem
    transition all 0.5s ease
    border-radius 0.25rem 0 0 0.25rem
    
    &:hover
      width 45%

  &__content
    width 12.0625rem
    height 13.25rem
    padding-right 0.625rem
    margin-left 1.375rem
    color mainWhite
    display flex
    flex-direction column
    justify-content flex-start
    text-align left 
    font-family Lato-Light, sans-serif

  &__date
    margin-top 0.25rem
    display inline-block
    
  &__day
    display inline-block 
    font-size 4.5625rem 
    font-weight 300
    letter-spacing -0.1825rem

  &__month
    display inline-block
    margin-left 0.8125rem
    font-size 1.875rem
    font-weight 300
    text-transform lowercase

    &:first-letter
      text-transform uppercase

  &__title
    margin-top 0.5625rem
    font-size 0.8125rem
    font-weight 400
    text-transform uppercase
    letter-spacing 0.0394rem
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 1
    -webkit-box-orient vertical

  &__text
    margin-top 0.1875rem
    font-size 0.6875rem
    font-weight 400
    letter-spacing 0.0344rem
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical

  &__button
    width 8rem
    height 1.5rem  
    margin 1rem 0 0 0.75rem