.user-profiles-container
  display flex
  flex-direction column
  min-width 20rem
  position relative
  right 2.5rem

  &__user-profile
    display flex
    flex-direction column
    justify-content flex-end
    margin 0 1rem 0.8125rem 1.5625rem
    margin-top 1.125rem
