.user-profiles-container
  min-width 20rem
  position relative
  right 2.5rem
  margin-bottom 6.875rem

  &__user-profile
    display flex
    flex-direction column
    justify-content flex-end
    margin 2rem 1rem 0.8125rem 1.5625rem
