mixin user-profile(data)
    .user-profile
        .user-profile__avatar(class='user-profile__'+data.pictureName)
            .user-profile__hidden-block
                div(class=`user-profile__info user-profile__info-${data.profession}`)
                    .user-profile__info_name= data.userName
                    .user-profile__info_position= data.profession
                    .user-profile__info_social-networks

                        .user-profile__info_social-networks_facebook 
                            a(href='#')
                                .social-networks__icons
                        .user-profile__info_social-networks_twitter 
                            a(href='#')
                                .social-networks__icons
                        .user-profile__info_social-networks_dribbble 
                            a(href='#')
                                .social-networks__icons
