.firstPageBlock

  &_aboutUs
    display flex
    flex-direction column
    margin auto
    min-height 3.125rem
    max-width 50rem
    padding 0.9375rem
    font-size 1.375rem
    text-align center
    font-family Lato, sans-serif

  &_newsAndEvents
    display flex
    justify-content center
    flex-direction row
    flex-wrap wrap
    text-align center
    font-size 1.875rem
    color mainGray102
    font-family Lato, sans-serif
    
    &_blockNews
      min-height 3.125rem
      display flex
      flex-direction column
      padding 1.875rem

      .news
        margin 0.3125rem

    &_blockEvents
      min-height 3.125rem
      display flex
      flex-direction column
      padding 1.875rem

      .events
        margin 0.3125rem