.firstPageBlock
  &_aboutUs
    display flex
    flex-direction: column
    margin auto
    min-height 50px
    max-width 800px
    padding 15px
    font-size 22px
    text-align center
    font-family Lato, sans-serif
  &_newsAndEvents
    display flex
    justify-content: center
    flex-direction row
    flex-wrap wrap
    text-align center
    font-size: 30px
    color #666666
    font-family Lato, sans-serif
    
    &_blockNews
      min-height 50px
      display flex
      flex-direction column
      padding 30px
      .news
        margin 5px
    &_blockEvents
      min-height 50px
      display flex
      flex-direction column
      padding 30px
      .events
        margin 5px