mixin step-slider({minimum, value, maximum, step})
    .step-slider.js-step-slider.ui-slider.ui-slider-handle.ui-slider-range(data-minimum = minimum, data-default = value, data-maximum = maximum, data-step = step)
    .step-slider__scale