mixin step-slider(data)
  .step-slider.js-step-slider.ui-slider.ui-slider-handle.ui-slider-range(data-minimum = data.minimum, data-default = data.value, data-maximum = data.maximum, data-step = data.step)
  .step-slider__scale
    .step-slider__scale-value 0
    .step-slider__scale-value 25
    .step-slider__scale-value 50
    .step-slider__scale-value 75
    .step-slider__scale-value 100



