mixin step-slider({minimum, value, maximum, step})
  .step-slider.js-step-slider.ui-slider.ui-slider-handle.ui-slider-range(data-minimum = minimum, data-default = value, data-maximum = maximum, data-step = step)
  .step-slider__scale
    .step-slider__value 0
    .step-slider__value 25
    .step-slider__value 50
    .step-slider__value 75
    .step-slider__value 100



