mixin step-slider(data)
  .step-slider-element.js-step-slider-element(data-minimum = data.minimum, data-default = data.value, data-maximum = data.maximum, data-step = data.step)
    .step-slider.js-step-slider.ui-slider.ui-slider-handle.ui-slider-range
    .scale
      .scale__value 0
      .scale__value 25
      .scale__value 50
      .scale__value 75
      .scale__value 100



