mixin footer()
  .footer 
    .image 
      .logo logotip
      .menu
        ul
          li  
            a(href='./firstPage.html') главная
          li  
            a(href='./catalog.html') каталог
          li  
            a(href='./contacts.html') контакты
          li  
            a(href='./../index.html') demo