mixin footer()
  .footer 

    .image 
      .logo logotip
      .menu
        ul
          li  
            a(href='/UIkit/firstPage.html') главная
          li  
            a(href='/UIkit/pages/catalog.html') каталог
          li  
            a(href='/UIkit/pages/contacts.html') контакты
          li  
            a(href='/UIkit/pages/demo.html') demo