@import '~style/colors.styl'

.textarea
  &__element
    width 16.75rem
    height 4.25rem
    resize none
  
    &_decor
      outline none
      color mainGray136
      font-size 0.875rem
      font-weight 400
      letter-spacing 0.0088rem
      font-family "Source Sans Pro", sans-serif
      border none
      border-radius 0.125rem
      background-color mainGray229
      padding 0
      margin-bottom 0.75rem
      padding 0.625rem