include ./../../pageModules/header/headerMixin
include ./../../pageModules/footer/footerMixin
include ./../../../modules/standartButtons/standartButtonsMixin
include ./../../../modules/calendar/calendarMixin
include ./../../../modules/sliders/slidersMixin
include ./../../../modules/search.dropDown/dropDown/dropDownMixin
include ./../../../modules/formElements/tickBoxes/tickBoxesMixin
include ./../../../modules/formElements/form/formMixin.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Заказ(UIkit)
  body
    .layout
      +header
      .main
        .buyItem
          .buyItem_form
            .buyItem_form_currentCar
            .buyItem_form_settings
              label Коробка передач
              +dropDown({name: 'finalFormAutoBox', values: ["Ручная", "Автоматическая"]})
              label Территория использования:
              +dropDown({name: 'finalFormUseLocation', values: ["г.Томск", "Томская обл."]})
              label Место офромления аренды:
              +dropDown({name: 'finalFormBuyLocation', values: ["В офисе", "Ваш адрес (уточняется по телефону)"]})
              label Время аренды (количество полных часов):
              +standartSlider({minimum: '1', value: '3', maximum: '12'})
              form
                label Добавить в машину:
                  .block_tickboxes
                    +tickBox({name: 'finalFormChildrenArmchair', value: 'Детское кресло'})
                    +tickBox({name: 'finalFormNavigate', value: 'Навигатор'})
                    +tickBox({name: 'finalFormAutoRefrigerator', value: 'Авто-холодильник'})
              form.form#MyForm
                label.userContactData Ваши контактные данные:
                  label Фамилия
                  +input({type: 'name', placeholder: 'Ваша фамилия', name: 'formSurname'})
                  label Имя
                  +input({type: 'name', placeholder: 'Ваше имя', name: 'formName'})
                  label Отчество
                  +input({type: 'name', placeholder: 'Ваше отчество', name: 'formPatronymic'})
                  label Контактный телефон
                  +input({type: 'name', placeholder: 'Контактный телефон', name: 'formNumber'})
                  label E-mail адрес
                  +input({type: 'email', placeholder: 'E-mail адрес', name: 'formEmail'})
                  .buyItem_calendarAndEnd_button#buyItem_calendarAndEnd_button
                    +stButton({size: 'big', color: 'red', value: 'Отправить заявку', type: 'submit'})
          .buyItem_calendarAndEnd
            +calendar
      +footer  

