include ./../../pageModules/header/headerMixin
include ./../../pageModules/footer/footerMixin
include ./../../../modules/standartButtons/standartButtonsMixin
include ./../../../modules/calendar/calendarMixin
include ./../../../modules/sliders/slidersMixin
include ./../../../modules/search.dropDown/dropDown/dropDownMixin
include ./../../../modules/formElements/tickBoxes/tickBoxesMixin
include ./../../../modules/formElements/form/formMixin.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Заказ(UIkit)
  body
    .layout
      +header
      .main
        .buyItem
          .buyItem_form
            .buyItem_form_currentCar
            .buyItem_form_settings
              label Коробка передач
              +dropDown('finalFormAutoBox', "Ручная", "Автоматическая")
              label Территория использования:
              +dropDown('finalFormUseLocation', "г.Томск", "Томская обл.")
              label Место офромления аренды:
              +dropDown('finalFormBuyLocation', "В офисе", "Ваш адрес (уточняется по телефону)")
              label Время аренды (количество полных часов):
              +standartSlider('1','3','12')
              form
                label Добавить в машину:
                  .block_tickboxes
                    +tickBox('finalFormChildrenArmchair', 'Детское кресло')
                    +tickBox('finalFormNavigate', 'Навигатор ')
                    +tickBox('finalFormAutoRefrigerator', 'Авто-холодильник')
              form.form#MyForm
                label.userContactData Ваши контактные данные:
                  label Фамилия
                  +input('name', 'Ваша фамилия', 'formSurname')
                  label Имя
                  +input('name', 'Ваше имя', 'formName')
                  label Отчество
                  +input('name', 'Ваше отчество', 'formPatronymic')
                  label Контактный телефон
                  +input('name', 'Контактный телефон', 'formNumber')
                  label E-mail адрес
                  +input('email', 'E-mail адрес', 'formEmail')
                  .buyItem_calendarAndEnd_button#buyItem_calendarAndEnd_button
                    +stButton('big','red','Отправить заявку','submit')
          .buyItem_calendarAndEnd
            +calendar
      +footer  

