@import '~style/colors.styl'

.arrow-button
  border-radius 50%
  width 3.125rem
  height 3.125rem
  position relative
  outline none
  cursor pointer

  &__arrow
    content ""
    width 0.875rem
    height 0.875rem
    border solid 0.25rem red
    border-bottom none
    border-left none

    &_trend
      &_left
        transform translateX(0.5625rem) translateY(-0.0625rem) rotate(225deg)
        
      &_right
        transform translateX(0.3125rem) translateY(-0.0625rem) rotate(45deg)

  &_color
    &_white
      background-color mainWhite
      border solid 0.1875rem mainBlueLight
      
      & > ^[0]__arrow
        border-color mainBlueLight


      &:hover
        border-color mainBlueLight
        background-color mainBlueLight

        & > ^[0]__arrow
          border-color mainWhite

    &_gray
      background-color mainGray229
      border solid 0.1875rem mainGray229

      & > ^[0]__arrow
        border-color mainWhite

      &:hover
        border-color mainGray229
        background-color mainWhite

        & > ^[0]__arrow
          border-color mainGray229

    &_green
      background-color mainBlueLight
      border solid 0.1875rem mainBlueLight

      & > ^[0]__arrow
        border-color mainWhite

      &:hover
        border-color mainBlueLight
        background-color mainWhite

        & > ^[0]__arrow
          border-color mainBlueLight
  
