mixin form
  .form
    input(type='text' placeholder='Your Name' 
    class='form_name form_egual-style' required)
    input(type='email' placeholder='Your Email' 
    class='form_email form_egual-style' required)
    textarea(class='form_textarea form_egual-style' 
    placeholder='Your Message')
    input(type='submit' value='submit' 
    class='form_submit form_egual-style') 