.tickBox
  display none

.tickBox + span
  -webkit-appearance none
  width 1.5rem
  height 1.5rem
  border-radius 50%
  background-color mainGray229
  display inline-block

.tickBox + span:before
  content ""
  display block
  width 0.3125rem
  height 0.625rem
  border 0 solid mainGray192
  border-width 0 0.125rem 0.125rem 0
  transform rotate(45deg)
  margin 0.25rem 0 0 0.5rem
  pointer-events none

.tickBox:checked + span
  background-color mainBlueLight

.tickBox:checked + span:before
  content ""
  display block
  width 0.3125rem
  height 0.625rem
  border 0 solid mainWhite
  border-width 0 0.125rem 0.125rem 0
  transform rotate(45deg)
  margin 0.25rem 0 0 0.5rem
  pointer-events none

.labelTickBox
  position relative
  bottom 0.4rem
  padding-left 0.3rem
  line-height 1.5rem
  