include ./modules/standartButtons/standart-Buttons-Mixin
include ./modules/arrowButtons/arrow-Buttons-Mixin
include ./modules/percentagesPieChart/percentages-Mixin
include ./modules/percentagesPieChart/pieChart-Mixin


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title "UIKit"
  body
    div.block
      div.H1 standart buttons
      div
        +stButton('small', 'blue')
        +stButton('big', 'blue')
        +stButton('big', 'red')
        +stButton('small', 'red')

    div.block
      div.H1 arrow buttons
      div
        +arButton('left')
        +arButton('right')

    div.block
      div.H1 percentages
      +percentages('75')

    div.block
      div.H1 pie chart
      +pieChart('50')



//- на последней при выборе данных на диаграмме должно 
//- отображаться соответствующее число внутри
//- )