include ./modules/buttons/standard-button/standard-button
include ./modules/buttons/arrow-button/arrow-button
include ./modules/percentages/percentages
include ./modules/pie-chart/pie-chart
include ./modules/standard-slider/standard-slider
include ./modules/step-slider/step-slider
include ./modules/stages/stages
include ./modules/form-elements/form/form
include ./modules/form-elements/toggles/toggles
include ./modules/form-elements/tick-box/tick-box 
include ./modules/search/search
include ./modules/drop-down/drop-down
include ./modules/user-profile/user-profile
include ./modules/news/news
include ./modules/events/events
include ./modules/location/location
include ./modules/calendar/calendar
include ./modules/messager/messager
include ./modules/video-player/video-player

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title "UIKit"

    body
        .demo-layout
            a.link-to-pages(href='./../first-page.html')
                +standard-button({size:'big', color:'red', value:'pages', type:'button'})

            .ui-elements
                .ui-elements__item
                    //- small/big and blue/red value button/submit
                    h2.ui-elements__title standard buttons
                    .item__elements.item__standard-buttons
                        each item in [{size: 'small', color: 'blue', value: 'button', type: 'button'},{size: 'big', color: 'blue', value: 'button', type: 'button'},{size: 'big', color: 'red', value: 'button', type: 'button'},{size: 'small', color: 'red', value: 'button', type: 'button'}]
                            +standard-button(item)

                .ui-elements__item
                    //- left/right
                    h2.ui-elements__title arrow buttons
                    .item__elements.item__arrow-buttons
                        each item in[{direction: 'left'}, {direction: 'right'}]
                            +arrow-button(item)

                .ui-elements__item
                    h2.ui-elements__title percentages / pie chart
                    .item__elements.item__percentages-pie-chart
                        //- 0..100
                        +percentages({value:'0'})
                        +percentages({value:'38'})
                        +percentages({value:'62'})
                        +percentages({value:'89'})
                        +pie-chart({value1: 10, value2: 25, value3: 30})

                .ui-elements__item
                    h2.ui-elements__title sliders
                    .item__elements.item__sliders
                        .item__standart-slider
                            +standard-slider({minimum: '10', value: '50', maximum: '200'})

                        .item__step-slider
                            +step-slider({minimum:'0', value: '75', maximum: '100', step: '25'})

                .ui-elements__item
                    h2.ui-elements__title stages
                    .item__elements.item__stages
                        +stages({length: 5, value: 3})

                .ui-elements__item
                    h2.ui-elements__title form elements
                    .item__elements.item__form-elements
                        .form-elements__form
                            +form
                        .form-elements__toggles-and-tick-box
                            h2.ui-elements__title toggles
                            .form-elements__toggles
                                +toggles
                                +toggles
                            h2.ui-elements__title tick boxes
                            .form-elements__tick-box
                                +tick-box({name: '', value: ''})
                                +tick-box({name: '', value: ''})

                .ui-elements__item
                    .item__elements.item__search-drop-down-user-profile
                        .item__search-drop-down
                            h2.ui-elements__title search / drop down
                            .search-drop-down__element
                                .search__block
                                    +search
                                .drop-down__block
                                    +drop-down({name: 'defaultSelect', values: ['some text 1', 'some text 2', 'some text 3', 'some text 4', 'some text 5']})
                        .item__user-profile
                            h2.ui-elements__title user profile
                            .user-profile__element
                                +user-profile({pictureName: 'griffin', userName:'John Smith', profession: 'ux designer'})
                                +user-profile({pictureName: 'wolf', userName: 'Sarah Brown', profession: 'developer'})

                .ui-elements__item
                    h2.ui-elements__title news & events
                    .item__elements.item__news-events
                        .item__news
                            +news({pictureName: 'bike', newsTitle: "It's all going downhill", newsDate:'24 august 2013', newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'})
                        .item__events
                            +events({pictureName:'city', eventDay: '24', eventMouth: 'aug', eventTitle: 'This is the title', eventText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.'})

                .ui-elements__item
                    h2.ui-elements__title location
                    .item__elements.item__location
                        +location({longitude: 56.4531, latitude: 84.975643})
                        //-    (56.4531, 84.975643) офис
                        //-    (55.751244, 37.618423) Москва
                        //-    (59.934280, 30.335099) Санкт-Петербург
                        //-    (56.453651, 84.948738) Лагерный сад

                .ui-elements__item
                    .item__elements.item__calendar-messaging
                        .item__calendar
                            h2.ui-elements__title calendar
                            .__element__calendar
                                +calendar
                        .item__messaging
                            h2.ui-elements__title messaging
                            .messaging__element
                                +messager


                .ui-elements__item
                    h2.ui-elements__title video
                    .item__elements.item__video-player
                        +video-player({url: "https://player.vimeo.com/video/62980495"})
                        //- https://www.youtube.com/embed/rPmGtZAUxNs
                        //- https://player.vimeo.com/video/62980495


            a.link-to-pages(href='./../first-page.html') 
                +standard-button({size: 'big', color: 'red', value: 'pages', type: 'button'})


script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBwCKcdCMMpMMqw5VEtVFyB5BLh467I3xY&callback=initMap')