include ./modules/standartButtons/standart-Buttons-Mixin
include ./modules/arrowButtons/arrow-Buttons-Mixin
include ./modules/percentagesPieChart/percentages-Mixin
include ./modules/percentagesPieChart/pieChart-Mixin
//- include ./modules/sliders/sliders-Mixin.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title "UIKit"  
  body

    .block
      .H1 standart buttons
      //- small/big and blue/red
      +stButton('small', 'blue')
      +stButton('big', 'blue') 
      +stButton('big', 'red')
      +stButton('small', 'red')

    .block
      .H1 arrow buttons
      //- left/right
      +arButton('left')
      +arButton('right')

    .block  
      .H1 percentages / pie chart
      .block
        .H1 percentages
        //- 0..100
        +percentages('75')

      .block
        .H1 pie chart
        //- (value1, value2, value3)
        +pieChart(50, 25, 10)
  
    .block
      //- +standartSlider
      //- +stepSlider
      .H1 sliders
      .block
        .H1 standart slider
        .standartSlider
           .standartSlider_custom-handle.ui-slider-handle




      .block
        .H1 step slider
        .step-slider
          .step_Slider.ui-slider.ui-slider-handle.ui-slider-range
          .scale
            .scale_value 0
            .scale_value 25
            .scale_value 50
            .scale_value 75
            .scale_value 100
          

    .block
    .block
    .block