include ./modules/standartButtons/standart-Buttons-Mixin
include ./modules/arrowButtons/arrow-Buttons-Mixin
include ./modules/percentagesPieChart/percentages-Mixin
include ./modules/percentagesPieChart/pieChart-Mixin


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title "UIKit"  
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/resources/demos/style.css")
  body
    .block
      .H1 standart buttons
      
      +stButton('small', 'blue')
      +stButton('big', 'blue') 
      +stButton('big', 'red')
      +stButton('small', 'red')

    .block
      .H1 arrow buttons
    
      +arButton('left')
      +arButton('right')

    .block
      .H1 percentages
      +percentages('75')

    .block
      .H1 pie chart
      +pieChart(50, 25, 10)
          //- (value1, value2, value3)

    .block
      .H1 sliders
      #slider
        #custom-handle(class="ui-slider-handle")
