include ./modules/standartButtons/standartButtonsMixin
include ./modules/arrowButtons/arrowButtonsMixin
include ./modules/percentagesPieChart/percentagesMixin
include ./modules/percentagesPieChart/pieChartMixin
include ./modules/sliders/slidersMixin
include ./modules/stages/stagesMixin
include ./modules/formElements/form/formMixin
include ./modules/formElements/toggles/togglesMixin
include ./modules/formElements/tickBoxes/tickBoxesMixin
include ./modules/search.dropDown/dropDown/dropDownMixin
include ./modules/search.dropDown/search/searchMixin
include ./modules/userProfile/userProfileMixin
include ./modules/news&events/news/newsMixin
include ./modules/news&events/events/eventsMixin
include ./modules/location/locationMixin
include ./modules/calendar/calendarMixin
include ./modules/messager/messagerMixin
include ./modules/videoPlayer/videoPlayerMixin

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title "UIKit"

  body
    .demoLayout
      a(href='./../firstPage.html')
        +stButton({size:'big', color:'red', value:'back', type:'button'})
      .block
        .H1 standart buttons
        //- small/big and blue/red value button/submit
        each item in [{size: 'small', color: 'blue', value: 'button', type: 'button'},{size: 'big', color: 'blue', value: 'button', type: 'button'},{size: 'big', color: 'red', value: 'button', type: 'button'},{size: 'small', color: 'red', value: 'button', type: 'button'}]
          +stButton(item)
      .block
        .H1 arrow buttons
        //- left/right
        each item in[{direction: 'left'}, {direction: 'right'}]
          +arButton(item)

      .block  
        .H1 percentages / pie chart
        .block
          .H1 percentages
          //- 0..100
          +percentages({value:'75'})

        .block
          .H1 pie chart
          +pieChart({value1: 50, value2: 25, value3: 10})

      .block
        .H1 sliders
        .block 
          .H1 standart slider

          +standartSlider({minimum: '1', value: '40', maximum: '100'})
        .block
          .H1 step slider
          //- (minimum, default, maximum, step)
          //- +stepSlider('0', '75', '100', '25')
          +stepSlider({minimum:'0', value: '75', maximum: '100', step: '25'})

      .block
        .H1 stages
          //- length, value
          +stages({length: 11, value: 5}) 

      .block
        .H1 form elements
        +form

        .block
          .H1 toggles
          form
            +toggles
            +toggles
            +toggles

        .block
          .H1 tick boxes
          form
            +tickBox({name: '', value: ''})
            +tickBox({name: '', value: ''})
            +tickBox({name: '', value: ''})

      .block
        .H1 search / drop down
        .block
          .H1 search
          +search

        .block
          .H1 drop down
          //- (name, options1...options_n)
          +dropDown({name: 'defaultSelect', values: ['some text 1', 'some text 2', 'some text 3', 'some text 4', 'some text 5']})

      .block
        .H1 user profile 
        //- 1)название картинки из папки image модуля 
        //- 2) имя и фамилия 
        //- 3) ux designer или developer
        +userProfile({pictureName: 'griffin', userName:'John Smith', profession: 'ux designer'})
        +userProfile({pictureName: 'wolf', userName: 'Sarah Brown', profession: 'developer'})

      .block
        .H1 news & events
        //- дата в формате '24 августа 2013'/ текс новости
        +news({pictureName: 'bike', newsTitle: "It's all going downhill", newsDate:'24 august 2013', newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'})

        //- дата в формате '24' / месяц события в формате 'авг'/ заголовок события/ текст события
        +events({pictureName:'city', eventDay: '24', eventMouth: 'aug', eventTitle: 'This is the title', eventText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.'})

      .block
        .H1 location
        +location({longitude: 56.4531, latitude: 84.975643})
      //-  (56.4531, 84.975643) офис
      //-  (55.751244, 37.618423) Москва
      //-  (59.934280, 30.335099) Санкт-Петербург
      //-  (56.453651, 84.948738) Лагерный сад

      .block
        .H1 calendar
        +calendar

      .block
        .H1 messaging
        +messager

      .block
        .H1 video
        +videoPlayer({url: "https://player.vimeo.com/video/62980495"})
        //- https://www.youtube.com/embed/rPmGtZAUxNs
        //- https://player.vimeo.com/video/62980495
      a(href='./../firstPage.html') 
        +stButton({size: 'big', color: 'red', value: 'back', type: 'button'})


script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBwCKcdCMMpMMqw5VEtVFyB5BLh467I3xY&callback=initMap')  