include ./modules/ui-elements/ui-elements

doctype html
html(lang = "ru")
    head
        meta(charset = "utf-8")
        title "UIKit"
        meta(NAME="keywords" CONTENT="standard buttons, arrow buttons,percentages / pie chart,sliders,stages,form elements,toggles, tick boxes,search / drop down,user profile,news & events,location,calendar,messaging,video")
        meta(NAME="description" CONTENT="Сборник подключаемых элементов (UIKit)")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(http-equiv = "Cache-Control" content = "no-cache")
    body
        +ui-elements
            
script(async defer src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBwCKcdCMMpMMqw5VEtVFyB5BLh467I3xY&callback=initMap')