include ./modules/standartButtons/standart-Buttons-Mixin
include ./modules/arrowButtons/arrow-Buttons-Mixin
include ./modules/percentagesPieChart/percentages-Mixin
include ./modules/percentagesPieChart/pieChart-Mixin
include ./modules/sliders/sliders-Mixin
include ./modules/stages/stages-Mixin
include ./modules/form-elements/form-elements-Mixins
        
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title "UIKit"  
  body

    .block
      .H1 standart buttons
      //- small/big and blue/red
      +stButton('small', 'blue')
      +stButton('big', 'blue') 
      +stButton('big', 'red')
      +stButton('small', 'red')

    .block
      .H1 arrow buttons
      //- left/right
      +arButton('left')
      +arButton('right')

    .block  
      .H1 percentages / pie chart
      .block
        .H1 percentages
        //- 0..100
        +percentages('75')

      .block
        .H1 pie chart
        //- (value1, value2, value3)
        +pieChart(50, 25, 10)
  
    .block
      .H1 sliders
      .block 
        .H1 standart slider
        +standartSlider
      .block
        .H1 step slider
        +stepSlider

    .block
      .H1 stages
        //- length, value
        +stages(11, 1) 

    .block
      .H1 form elements
      +form


    .block
    .block
    .block