include ./modules/ui-elements/ui-elements

doctype html
html(lang = "ru")
    head
        meta(charset = "utf-8")
        meta(http-equiv = "Cache-Control" content = "no-cache")
        title "UIKit"

    body
        +ui-elements()
            
script(async defer src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBwCKcdCMMpMMqw5VEtVFyB5BLh467I3xY&callback=initMap')