include ./modules/buttons/standard-button/standard-button
include ./modules/buttons/arrow-button/arrow-button
include ./modules/percentages/percentages
include ./modules/pie-chart/pie-chart
include ./modules/standard-slider/standard-slider
include ./modules/step-slider/step-slider
include ./modules/stages/stages
include ./modules/form-elements/form/form
include ./modules/form-elements/toggles/toggles
include ./modules/form-elements/tick-box/tick-box 
include ./modules/search/search
include ./modules/drop-down/drop-down
include ./modules/user-profile/user-profile
include ./modules/news/news
include ./modules/events/events
include ./modules/location/location
include ./modules/calendar/calendar
include ./modules/messager/messager
include ./modules/video-player/video-player

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title "UIKit"

    body
        .demo-layout
            a(href='./../first-page.html')
                +standard-button({size:'big', color:'red', value:'pages', type:'button'})

            .ui-element__container
                //- small/big and blue/red value button/submit
                h2.container__title standard buttons
                .container__elements.container__standard-buttons
                    each item in [{size: 'small', color: 'blue', value: 'button', type: 'button'},{size: 'big', color: 'blue', value: 'button', type: 'button'},{size: 'big', color: 'red', value: 'button', type: 'button'},{size: 'small', color: 'red', value: 'button', type: 'button'}]
                        +standard-button(item)

            .ui-element__container
                //- left/right
                h2.container__title arrow buttons
                .container__elements.container__arrow-buttons
                    each item in[{direction: 'left'}, {direction: 'right'}]
                        +arrow-button(item)

            .ui-element__container
                h2.container__title percentages / pie chart
                .container__elements.container__percentages-pie-chart
                    //- 0..100
                    +percentages({value:'0'})
                    +percentages({value:'38'})
                    +percentages({value:'62'})
                    +percentages({value:'89'})
                    +pie-chart({value1: 10, value2: 25, value3: 30})

            .ui-element__container
                //- small/big and blue/red value button/submit
                h2.container__title sliders
                .container__elements.container__sliders
                    .container__standart-slider
                        +standard-slider({minimum: '1', value: '40', maximum: '100'})
                    .container__step-slider
                        //- (minimum, default, maximum, step)
                        //- +stepSlider('0', '75', '100', '25')
                        +step-slider({minimum:'0', value: '75', maximum: '100', step: '25'})

            .ui-element__container
                h2.container__title stages
                .container__elements.container__stages
                    //- length, value
                    +stages({length: 5, value: 3})

            .ui-element__container
                h2.container__title form elements
                .container__elements.container__form-elements
                    .form-elements__form
                        +form
                    .form-elements__toggles-and-tick-box
                        h2.container__title toggles
                        .form-elements__toggles
                            +toggles
                            +toggles
                        h2.container__title tick boxes
                        .form-elements__tick-box
                            +tick-box({name: '', value: ''})
                            +tick-box({name: '', value: ''})

            .ui-element__container
                .container__elements.container__search-drop-down-user-profile
                    .container__search-drop-down
                        h2.container__title search / drop down
                        .elements__search-drop-down
                            .search
                                +search
                            .drop-down
                                +drop-down({name: 'defaultSelect', values: ['some text 1', 'some text 2', 'some text 3', 'some text 4', 'some text 5']})
                    .container__user-profile
                        h2.container__title user profile
                        .elements__user-profile
                            +user-profile({pictureName: 'griffin', userName:'John Smith', profession: 'ux designer'})
                            +user-profile({pictureName: 'wolf', userName: 'Sarah Brown', profession: 'developer'})

            .ui-element__container
                h2.container__title news & events
                .container__elements.container__news-events
                    .container__news
                        +news({pictureName: 'bike', newsTitle: "It's all going downhill", newsDate:'24 august 2013', newsText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nam distinctio provident facere.'})
                    .container__events
                        +events({pictureName:'city', eventDay: '24', eventMouth: 'aug', eventTitle: 'This is the title', eventText: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.'})

            .ui-element__container
                h2.container__title location
                .container__elements.container__location
                    +location({longitude: 56.4531, latitude: 84.975643})
                    //-    (56.4531, 84.975643) офис
                    //-    (55.751244, 37.618423) Москва
                    //-    (59.934280, 30.335099) Санкт-Петербург
                    //-    (56.453651, 84.948738) Лагерный сад

            .ui-element__container
                .container__elements.container__calendar-messaging
                    .container__calendar
                        h2.container__title calendar
                        .calendar__element
                            +calendar
                    .container__messaging
                        h2.container__title messaging
                        .messaging__element
                            +messager


            .ui-element__container
                h2.container__title video
                .container__elements.container__video-player
                    +video-player({url: "https://player.vimeo.com/video/62980495"})
                    //- https://www.youtube.com/embed/rPmGtZAUxNs
                    //- https://player.vimeo.com/video/62980495


            a(href='./../first-page.html') 
                +standard-button({size: 'big', color: 'red', value: 'pages', type: 'button'})


script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBwCKcdCMMpMMqw5VEtVFyB5BLh467I3xY&callback=initMap')    