include ./mixins/standart-Buttons-Mixins.pug


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title "UIKit"
  body
    div.block.standartButtons
      div.H1.stButH1 standart buttons
      div
        +stButton('small', 'blue')
        +stButton('big', 'blue')
        +stButton('big', 'red')
        +stButton('small', 'red')

    div.block.arrowButtons
      div.H1.arrowH1 arrow buttons
      div.arrowPack
        button.btnArrowPack1.btn1 
        button.btnArrowPack1.btn2 

    div.block.percentagesPieChart
      div.H1.percentH1 percentages / pie chart
      div.pieChart 0
        svg
          circle.chart1
      div.pieChart 38
        svg
          circle.chart2
      div.pieChart 62
        svg
          circle.chart3
      div.pieChart 89 
        svg
          circle.chart4
      div.pieChart 89
        svg
          circle.chart5



//- для диаграмм (
//- через миксины pug задается число 
//- и отрисовывается
//- на последней при выборе данных должно 
//- отображаться соответствующее число внутри
//- )