doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title 
  body
    div.standartButtons
      div.standartH1 standart buttons
      div.buttonsPack
        button.btnPack.btn1 button
        button.btnPack.btn2 button
        button.btnPack.btn3 button
        button.btnPack.btn4 button

    div.arrowButtons
      div.arrowH1 arrow buttons
      div.arrowPack
        button.btnArrowPack1.btn1 
        button.btnArrowPack1.btn2 

    div.percentagesPieChart
      div.percentH1 percentages / pie chart
      div.pieChart 0
        svg
          circle.chart1
      div.pieChart 38
        svg
          circle.chart2
      div.pieChart 62
        svg
          circle.chart3
      div.pieChart 89 
        svg
          circle.chart4
      div.pieChart 89
        svg
          circle.chart5

