doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title 
  body
    div.container
      h1 test
      div
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        p Odit, mollitia ipsam! Dolor voluptatibus, veniam qui,
        p vitae neque ex reiciendis voluptate aut dolore consequatur
        p sit quasi provident consequuntur temporibus velit laboriosam.

