doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title 
  body
    div.standartButtons
      div.standartH1 standart buttons
      div.buttonsPack1
        button.btnPack1.btn1 button
        button.btnPack1.btn2 button
        button.btnPack1.btn3 button
        button.btnPack1.btn4 button
      div.buttonsPack2
        button.btnPack2.btn1 button
        button.btnPack2.btn2 button
        button.btnPack2.btn3 button
        button.btnPack2.btn4 button
      div.buttonsPack3
        button.btnPack3.btn1 button
        button.btnPack3.btn2 button
        button.btnPack3.btn3 button
        button.btnPack3.btn4 button

    div.arrowButtons
      div.arrowH1 arrow buttons
      div.arrowPack1
        button.btnArrowPack1.btn1 
        button.btnArrowPack1.btn2 
      div.arrowPack2
        button.btnArrowPack2.btn1 
        button.btnArrowPack2.btn2 
      div.arrowPack3
        button.btnArrowPack3.btn1 
        button.btnArrowPack3.btn2 

    div.percentagesPieChart
      div.percentH1 percentages / pie chart
      div.pieChart.chart1 div
      div.pieChart.chart2 div
      div.pieChart.chart3 div
      div.pieChart.chart4 div
      div.pieChart.chart5 div
