.search-drop-down-container
  display flex
  justify-content space-around
  align-items center
  flex-wrap wrap
  max-width 18.75rem
  position relative
  bottom 0.625rem
  margin-top 0.6875rem
  margin-left 3.75rem

  &__search
    display flex
    flex-direction column
    height 5.5rem
    margin-top 0.0625rem
    margin-bottom 0.625rem
