.search-drop-down-container
  display flex
  flex-direction column
  justify-content flex-start
  align-self flex-start
  flex-wrap wrap
  max-width 18.75rem

  &__search
    display flex
    flex-direction column
    justify-content space-between
    height 4.5rem
    margin-top 0.625rem
    margin-bottom 1.125rem
