.search-drop-down-container
  display flex
  justify-content center
  flex-wrap wrap
  max-width 18.75rem
  position relative 
  bottom 3.75rem

  &__search
    display flex
    flex-direction column
    justify-content space-between
    height 4.5rem
    margin-top 0.625rem
    margin-bottom 1.125rem
