mixin news(data)
  .news
    .news__image(data-newsImage=data.pictureName)
    .news-content
      .news-content__header(title=`${data.newsTitle}`)=data.newsTitle
      .news-content__date=data.newsDate
      p.news-content__text(title=`${data.newsText}`)=data.newsText