mixin arrow-button({direction, color, disableButton})
    button(class = `arrow-button arrow-button_color_${color}` disabled = `${disableButton}`)
        div(class = `arrow-button__arrow arrow-button__arrow_trend_${direction}`)