-
  function sum() {
    var result = 0;
    for (var i = 0; i < arguments.length; i++) {
      result += arguments[i];
      }
    return result;
    }

mixin pie-chart({value1, value2, value3})

  - valueSum = sum(value1, value2, value3);
  if (valueSum > 100)
    .pie-chart
      .pie-chart__value= ('ERR. >100')
  else if (valueSum < 0)
    .pie-chart
      .pie-chart__value= ('ERR. <0')
  else
    .pie-chart
      svg.pie-chart__image
        circle.pie-chart__image_fill(transform = "rotate(-90)", style = "stroke-dasharray: 15.5rem 25.5rem", r = "39.5", cx = "-50", cy = "50")
        circle.pie-chart__image_circle1(transform = "rotate(-90)", style = "stroke-dasharray:" + (value1 * 0.155 + value2 * 0.155 + value3 * 0.155) + "rem 25.5rem", r = "39.5", cx = "-50", cy = "50")
        circle.pie-chart__image_circle2(transform = "rotate(-90)", style = "stroke-dasharray:" + (value1 * 0.155 + value2 * 0.155) + "rem 25.5rem", r = "39.5", cx = "-50", cy = "50")
        circle.pie-chart__image_circle3(transform = "rotate(-90)", style = "stroke-dasharray:" + (value1 * 0.155) + "rem 25.5rem", r = "39.5", cx = "-50", cy = "50")
