.pie-chart
  position relative
  width 6.25rem
  height 5rem

  &__image
    position relative
    top -1.75rem
    width 6.25rem
    height 6.25rem

    &_circle1
      fill transparent
      stroke mainBlueLight
      stroke-width 16

    &_circle2
      fill transparent
      stroke mainRedLight
      stroke-width 16

    &_circle3
      fill transparent
      stroke mainGray116
      stroke-width 16

    &_fill
      fill transparent
      stroke mainGray229
      stroke-width 16


