@import '~style/colors.styl'

.pie-chart
  position relative
  width 6.25rem
  height 5rem

  &__chart
    position relative
    top -1.75rem
    width 6.25rem
    height 6.25rem

  &__chart-part
    &_fill
      fill transparent
      stroke-width 16

      &_blue
        stroke mainBlueLight

      &_red
        stroke mainRedLight

      &_dark-gray
        stroke mainGray116

      &_light-gray
        stroke mainGray229


