.standard-buttons-container
  &__buttons
    display flex
    justify-content space-around
    align-items center
    flex-wrap wrap
  
  &__row
    display flex
    justify-content space-around
    align-items center
    width 52%
    margin-top 1.3125rem
    align-items flex-end
    flex-wrap wrap

    &:nth-child(1)
      margin-top 3.75rem